._swiper-slider {
  height: 500;
  /* border: 3px solid black; */
}

._swiper-image {
  height: 280px;
  border-radius: 4px;
}
._swiper-text {
  height: 240px;
}

._button-service-active {
  color: #fff;
  background: #9bc93a;
  border: 0;
  transition: 0.3s;
}

._formInput {
  color: black !important;
  font-size: 19px;

}
