* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    direction: rtl;
}

@font-face {
    font-family: IranSans;
    src: url('../font/IranSans/ttf/IRANSansWeb(FaNum)_Light.ttf');
}

.card-Index {
    height: 320PX;
}

*:not(i) {
    font-family: IranSans !important;
}

div, input {
    font-family: IranSans !important;
}

body {
    background: #FCFCFC;
    overflow-x: hidden;
}

.hj-header {
    height: 188px;
}

.hj-index-login {
    color: #9BC93A;
    font-size: 20px;
    line-height: 76px;
}

#language {
    border: 0px;
    background: TRANSPARENT;
}

.hj-language {
    line-height: 100px;
    border: 0;
}

.bg-light {
    background: #FCFCFC !important;
}

.hj-navbar-desktop > ul {
    border-bottom: 2px solid #E4E4E4;
}

    .hj-navbar-desktop > ul > li {
        list-style: none;
        cursor: pointer;
        padding-bottom: 11px;
    }

        .hj-navbar-desktop > ul > li:hover {
            border-bottom: 2px solid #9BC93A;
            color: #9BC93A;
        }

.hj-intro-text {
    font-size: 16px !important;
    color: #545454;
}

.hj-intro-titr {
    font-size: 33px !important;
    width: 75%;
}

.timer {
    font-size: 25px;
}

.hj-intro-button {
    border-radius: 99px;
    border: 1px solid #9BC93A;
    color: #9BC93A;
    background-color: #fff;
    font-size: 15px;
}

    .hj-intro-button:hover {
        border-radius: 99px;
        border: 1px solid #9BC93A;
        background-color: #9BC93A;
    }

.hj-content {
    height: auto;
    background: url(../img/bg-index1.png) no-repeat;
    background-size: 100% 100%;
    color: #5D44C9;
}

.hj-service-index {
    font-size: 50px;
    color: #9BC93A;
    text-align: center;
    display: block;
}

.hj-text-service {
    color: #545454;
    font-size: 25px;
}

.hj-service-index-button {
    background-color: #fff;
    border: 1px solid #9BC93A;
    color: #9BC93A;
    border-radius: 99px;
    padding-right: 30px;
    padding-left: 30px;
}

    .hj-service-index-button:hover {
        background-color: #9BC93A !important;
        border: 1px solid #9BC93A;
        color: #fff;
    }

.hj-work-index {
    background: url(../img/bg-index2.png) no-repeat;
    background-size: 100% 100%;
    height: auto;
    margin-top: 100px;
}

.hj-WhyHelper-index {
    background: url(../img/bgindex3.png) no-repeat;
    background-size: 100% 100%;
    height: auto;
    margin-top: 100px;
    position: relative;
}

.hj-service-index {
    font-size: 50px;
    color: #9BC93A;
    text-align: center;
    display: block;
    position: relative;
    z-index: 11;
}

.hj-work {
    color: #9BC93A;
}

.hj-work-header {
    width: 80% !important;
}

.hj-service-index:before {
    content: '';
    left: 0;
    top: 50%;
    height: 1px;
    width: 100%;
    border: 3px solid #9BC93A;
    position: absolute;
    z-index: -1;
}

.hj-WhyHelper {
    font-size: 50px;
    color: #5D44C9;
    text-align: center;
    display: block;
    position: relative;
    z-index: 11;
}

.bg-slider {
    background: #f6f7f9;
}

.hj-WhyHelper:before {
    content: '';
    background-color: #5D44C9 !important;
    left: 0;
    top: 50%;
    height: 1px;
    width: 100%;
    border: 3px solid #5D44C9;
    position: absolute;
    z-index: -1;
}
/*.........slider..........*/
.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: auto !important;
}

.hj-TilteSliderIndex {
    border-bottom: 1px solid #8c86867a;
}

.Text-blue {
    color: #5D44C9;
}

.size-33 {
    font-size: 33px;
}
/*............end slider..................*/
/*.....................media...................*/
@media only screen and (max-width: 990px) {
    .hj-intro-button {
        font-size: 9px;
    }

    .navbar-collapse {
        background: rgb(255, 255, 255);
        z-index: 10000;
    }

    .hj-work {
        font-size: 22px;
    }

    .hj-text-service {
        font-size: 18px;
    }

    .cart-deposit {
        width: 100% !important;
    }

    .Hj-Upload {
        width: 100% !important;
    }

    .hj-detalisUpload {
        width: 100% !important;
    }
}

@media only screen and (max-width: 770px) {
    .hj-index-login {
        font-size: 17px;
    }

    .img-accountDepoit {
        width: 100% !important;
        margin-top: 20px;
    }

    .hj-navbar-desktop {
        display: none;
    }

    .hj-intro-h {
        padding: 32px;
    }

    .hj-intro-text {
        padding: 17px;
    }

    .hj-intro-titr {
        text-align: center !important;
        width: 100%;
    }

    .hj-work {
        font-size: 16px;
    }

    .hj-form {
        width: 100% !important;
    }

    .Confirmation {
        width: 50% !important;
    }

    #tabs .nav-tabs .nav-link {
        font-size: 12px !important;
    }

    .hj-serachW-100 {
        width: 100% !important;
    }

    /*  .hj-intro-titr::after{
            content:'';
            position:absolute;
            top:0;
            left:0;
            height:1px;
            border:1px solid gray;
        }
        .hj-intro-button {
            font-size: 8px;
        }
        */
}

@media only screen and (max-width: 600px) {
    .hj-tab-account {
        width: 100% !important;
    }
}

@media only screen and (max-width: 400px) {
    .hj-index-login {
        font-size: 14px;
    }

    .size20 {
        font-size: 20px;
    }

    .Confirmation {
        width: 100% !important;
    }

    .hj-degree {
        width: 100% !important;
    }

    .hj-size {
        font-size: 13px !important;
    }
}

@media only screen and (max-width: 369px) {
    .hj-hiden {
        display: none !important;
    }
}

@media only screen and (max-width: 365px) {
    .hj-intro-button {
        font-size: 9px;
    }

    #tabs .nav-tabs .nav-link {
        font-size: 10px !important;
    }
}
/*.....................end media...................*/
/*-----more in index animate----*/
.load-wrapp {
    float: left;
    width: 100px;
    height: 100px;
    margin: 0 10px 10px 0;
    padding: 20px 20px 20px;
    border-radius: 5px;
    text-align: center;
    display: contents;
}

    .load-wrapp p {
        padding: 0 0 20px;
    }

    .load-wrapp:last-child {
        margin-right: 0;
    }

.line {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #9BC93A;
}

.hj-text-service {
    color: #9BC93A;
}



.bubble-2 {
    top: auto;
    bottom: 0;
}

.bar {
    float: left;
    width: 15px;
    height: 6px;
    border-radius: 2px;
    background-color: #4b9cdb;
}

/* =Animate the stuff
------------------------ */
.load-1 .line:nth-last-child(1) {
    animation: loadingA 1.5s 1s infinite;
}

.load-1 .line:nth-last-child(2) {
    animation: loadingA 1.5s 0.5s infinite;
}

.load-1 .line:nth-last-child(3) {
    animation: loadingA 1.5s 0s infinite;
}

.load-2 .line:nth-last-child(1) {
    animation: loadingB 1.5s 1s infinite;
}

.load-2 .line:nth-last-child(2) {
    animation: loadingB 1.5s 0.5s infinite;
}

.load-2 .line:nth-last-child(3) {
    animation: loadingB 1.5s 0s infinite;
}

.load-3 .line:nth-last-child(1) {
    animation: loadingC 0.6s 0.1s linear infinite;
}

.load-3 .line:nth-last-child(2) {
    animation: loadingC 0.6s 0.2s linear infinite;
}

.load-3 .line:nth-last-child(3) {
    animation: loadingC 0.6s 0.3s linear infinite;
}

.load-4 .ring-1 {
    animation: loadingD 1.5s 0.3s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
}

.load-5 .ball-holder {
    animation: loadingE 1.3s linear infinite;
}

.load-6 .letter {
    animation-name: loadingF;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-direction: linear;
}

.l-1 {
    animation-delay: 0.48s;
}

.l-2 {
    animation-delay: 0.6s;
}

.l-3 {
    animation-delay: 0.72s;
}

.l-4 {
    animation-delay: 0.84s;
}

.l-5 {
    animation-delay: 0.96s;
}

.l-6 {
    animation-delay: 1.08s;
}

.l-7 {
    animation-delay: 1.2s;
}

.l-8 {
    animation-delay: 1.32s;
}

.l-9 {
    animation-delay: 1.44s;
}

.l-10 {
    animation-delay: 1.56s;
}

.load-7 .square {
    animation: loadingG 1.5s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
}

.load-8 .line {
    animation: loadingH 1.5s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
}

.load-9 .spinner {
    animation: loadingI 2s linear infinite;
}

.load-9 .bubble-1,
.load-9 .bubble-2 {
    animation: bounce 2s ease-in-out infinite;
}

.load-9 .bubble-2 {
    animation-delay: -1s;
}

.load-10 .bar {
    animation: loadingJ 2s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
}



@keyframes loadingC {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, 0);
    }
}

/*-----End more in index animate----*/

/*...... wallet....*/
.hj-titr-wallet {
    margin: auto;
}

.hj-text-wallet {
    color: #8D24B3
}

.hj-footer-wallet-button {
    background-color: #fff;
    border: 1px solid #8D24B3;
    color: #8D24B3;
    border-radius: 99px;
    padding-right: 30px;
    padding-left: 30px;
}

    .hj-footer-wallet-button:hover {
        background-color: #8D24B3 !important;
        border: 1px solid #8D24B3;
        color: #fff;
    }

/*......*/
.hj-share {
    font-size: 25px;
}

    .hj-share > i {
        color: #9BC93A;
        transition: .2s;
        cursor: pointer;
        font-size: 30px;
    }

        .hj-share > i:hover {
            color: green;
        }

.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0) !important;
}

.navbar-nav {
    border-bottom: 2px solid #E4E4E4;
}

li:hover {
    border-bottom: 2px solid #9BC93A;
    transition: 0.1s;
}

.hj-navbarbootstrap {
    background: rgb(255, 255, 255);
    z-index: 1000;
}



.hj-footer-ditalis {
    color: #545454;
    font-size: 16px;
}

.SubmitBox {
    width: 100%;
    border-radius: 20px;
    background-color: #E9F2D5;
    height: 40px;
    float: left;
    border: 0px;
    padding: 10px;
    font-size: 13px;
    color: #9BC93A;
    position: relative;
}

.hj-join-news {
    color: #9BC93A;
}

.hj-Record {
    position: absolute;
    left: 5%;
    top: 1px;
    border-radius: 20px;
    padding-right: 17px;
    padding-left: 17px;
    background-color: #9BC93A;
    border: 0px;
}

.fa-circle {
    font-size: 10px;
    color: #9BC93A;
}

.width-90 {
    width: 90% !important;
}

.width-70 {
    width: 70% !important;
}

.hj-Endfooter {
    height: 45px;
    background-color: #9BC93A;
    color: #fff;
}

::placeholder {
    color: #9BC93A !important;
}

input {
    outline: none;
}





/*---------bootstrap tab--------------*/
/* Tabs*/
section {
    padding: 60px 0;
}

    section .section-title {
        text-align: center;
        color: #007b5e;
        margin-bottom: 50px;
        text-transform: uppercase;
    }


#tabs h6.section-title {
    color: #eee;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #f3f3f3;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 4px solid !important;
    font-size: 20px;
    font-weight: bold;
}

#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #9BC93A;
    font-size: 20px;
}

.hj-form-profile {
    border: 1px solid a59a9acf;
    border-radius: 20px;
    height: 20px;
    padding: 22px 20px !important;
    box-shadow: 1px 1px 9px #e1dcdc;
    font-size: 15px;
}

.form-group > ::placeholder {
    color: #545454 !important;
}

.hj-form {
    width: 70%;
}

.hj-Records {
    background: #F6F9F0;
    padding: 28px;
    display: none;
    border-radius: 18px;
}

.toggle-Record {
    display: block
}

.hj-card-dashbord {
    border-radius: 7px;
    width: 90%;
    height: 330px;
    position: relative;
    background: #e4d8d83d;
    box-shadow: 1px 1px 9px #625c5e59;
    transition: .2s ease-in-out;
}

.hj-img-dashbord {
    position: absolute;
    top: -70px;
    text-align: center;
}

.hj-dashbord-service {
    margin-top: 50px;
}

a {
    text-decoration: none !important;
}

.color-blue {
    color: #5D44C9
}

.a-dashbord:hover {
    color: blue;
}

.color-green {
    color: #9BC93A;
}

.b-dashbord:hover {
    color: green;
}

.hj-card-dashbord:hover {
    transform: scale(1.08);
}
/*-----tab---*/

.nav-tabs > li {
    float: right;
    margin: auto;
}

.nav-tabs {
    border-bottom: 0px !important;
    width: 70%;
    margin: auto !important;
}

#chart1, #chart2 {
    width: 600px;
    float: left;
}

.hj-sum {
    font-size: 20px !important;
    COLOR: #120ea2;
}


/*----news-----*/
.hj-play-New {
    position: absolute;
    /* margin: auto; */
    left: 38%;
    font-size: 74px;
    top: 90px;
    color: #ffffffeb;
}

.hj-like {
    font-size: 12px !important;
}

.hj-option-card {
    color: #8D24B3;
}

.size-14 {
    font-size: 14px;
}

.hj-card-news {
    border: 0px;
    box-shadow: 1px 1px 9px #b8b6b67d;
    border-radius: 4px;
}


.modal-video {
    top: 105px;
    BACKGROUND: #6c6262;
}

.news-billbord > img {
    border-radius: 25px;
    box-shadow: 1px 1px 10px #bbafaf;
}

.text-news {
    color: #9BC93A;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    background: #9BC93A !important;
}

.service-search {
    border: 2px solid #5D44C9;
    border-radius: 41px;
    height: 57px;
    background-color: white;
    color: #5D44C9;
}

.service-form {
    border: 2px solid #9e9797ab;
    border-radius: 7px;
    height: 57px;
    background-color: white;
    color: #232020;
    padding-top: 5px;
    box-shadow: 1px 1px 9px #a2a1a180;
}

.button-Service {
    border-radius: 20px;
    color: #9BC93A;
    background: #E9F2D5;
    border: 1px solid #9BC93A;
}

    .button-Service:hover {
        color: #fff;
        background: #9BC93A;
        border: 0;
        transition: .3s;
    }

.hj-select {
    display: none;
}

.hj-select-block {
    display: block;
}

.Pricerange {
    line-height: 55px !important;
}

.hj-input-service {
    border-radius: 26px;
    height: 50px;
    /* padding: 10px 34px; */
    border: 1px solid #b0b5b1;
    box-shadow: 1px 1px 9px #c9c8c899;
}

.hj-cost-service {
    display: none;
}

.hj-cost-service-block {
    display: block;
}

.Confirmation {
    background-color: #9BC93A;
    color: #fff;
    border: 0px;
    border-radius: 25px;
    height: 40px;
}
/*-----profile in service---*/
.hj-profile {
    border: 1px solid #fffcfc;
    border-radius: 7px;
    /* width: 80%; */
    position: relative;
    background: #F6F0F8;
    box-shadow: 1px 1px 9px #46454661;
    color: #8D24B3;
}

.height-120 {
    height: 120px;
}

.hj-img-profile {
    position: absolute;
    top: -59px;
    text-align: center;
}

.image-profile-desi {
    width: 122px;
}

.service-form-detalis {
    border-radius: 10px !important;
    height: auto !important;
}
/*----pagination-----*/
.pagination-wrapper {
    text-align: center;
    margin: 40px 0;
}

.pagination2 {
    display: inline-block;
    height: 70px;
    /* margin-top: 70px; */
    padding: 0px 15px;
    border-radius: 31px;
    background-color: #eee;
}

@media only screen and (max-width: 1199px) {
    .pagination {
        height: 50px;
        margin-top: 50px;
        padding: 0 10px;
        border-radius: 25px;
    }
}

.page-numbers {
    display: block;
    padding: 0 25px;
    float: left;
    transition: 400ms ease;
    color: #595959;
    font-size: 20px;
    line-height: 70px;
}

    .page-numbers:hover, .page-numbers.current {
        background-color: #86c023;
        color: #fff !important;
    }

    .page-numbers.prev:hover, .page-numbers.next:hover {
        background-color: transparent;
        color: #86c023;
    }

@media only screen and (max-width: 1199px) {
    .page-numbers {
        padding: 0 15px;
        font-size: 16px;
        line-height: 50px;
    }
}

@media only screen and (min-width: 120px) and (max-width: 1024px) {
    .page-numbers {
        padding: 0 14px;
        display: none;
    }

        .page-numbers:nth-of-type(2) {
            position: relative;
            padding-right: 50px;
        }

            .page-numbers:nth-of-type(2)::after {
                content: '...';
                position: absolute;
                font-size: 25px;
                top: 0;
                left: 45px;
            }

        .page-numbers:nth-child(-n+3), .page-numbers:nth-last-child(-n+3) {
            display: block;
        }

        .page-numbers:nth-last-child(-n+4) {
            padding-right: 14px;
        }

            .page-numbers:nth-last-child(-n+4)::after {
                content: none;
            }
}
/* ------checkbox------*/
/*    input[type=checkbox] {
        display: none;
    }*/
.checkbox-service {
    display: none;
}

.label-chekbox {
    display: block;
    font-size: 18px;
    margin: 0 auto;
    margin-top: 10px;
}

    .label-chekbox:hover {
        cursor: pointer;
    }

input[type=checkbox] + .label-chekbox:before {
    content: '';
    display: inline-block;
    border: 2px solid #9BC93A;
    margin-right: 10px;
    height: 19px;
    width: 19px;
    vertical-align: middle;
    transition: all .1s linear;
}

input[type=checkbox]:checked + .label-chekbox:before {
    border-left-width: 5px;
    border-bottom-width: 5px;
    border-top-width: 0px;
    border-right-width: 0px;
    transform: rotate(-45deg) translate(2px, -2px);
    height: 13px;
    width: 25px;
}

.card1 {
    background-color: #E9F2D5;
    color: #000;
}

.card2 {
    background-color: #EFEFEF !important;
}

.card3 {
    background-color: #DCBCE8 !important;
}

.text-card3 {
    color: #8D24B3 !important;
}

.card4 {
    background-color: #EFEFEF !important;
}

.btn-helper {
    background-color: #9BC93A;
    border-radius: 25px;
    color: #fff;
    transition: .3s ease-in-out;
}

.card-text {
    color: #545454;
}

.size-15 {
    font-size: 15px !important;
}

.btn-card3 {
    background-color: #8D24B3;
}

.btn-helper:hover {
    transform: scale(1.05) !important;
    color: #fff;
}

.hj-detalis-userProfile {
    line-height: 29px;
}

.btn-profileUser {
    border-radius: 30px;
    background-color: #9BC93A;
    border: 0px;
    box-shadow: 1px 1px 9px #9BC93A;
    transition: 0.3s ease-in-out;
}

    .btn-profileUser:hover {
        background-color: #fff;
        border: 1px solid #9BC93A;
        color: #9BC93A;
        transform: scale(1.05) !important;
    }

.btn-profileUser-send {
    border-radius: 30px;
    background-color: #fff;
    border: 1px solid #9BC93A;
    box-shadow: 1px 1px 9px #9BC93A;
    color: #9BC93A;
    transition: 0.3s ease-in-out;
}

    .btn-profileUser-send:hover {
        transform: scale(1.05) !important;
        background-color: #9BC93A;
        border: 0px;
        box-shadow: 1px 1px 9px #9BC93A;
    }

.hj-skill {
    background-color: #F6F8F0;
    border-radius: 10px;
    box-shadow: 1px 1px 9px #c9bbbb;
}

.line-27 {
    line-height: 27px;
}

.hj-degree {
    float: right;
}


.center {
    text-align: center !important;
}

.table-responsive {
    border-radius: 7px;
    border: 1px solid #dadada !important;
    box-shadow: 1px 1px 14px #cbb7b7fc !important;
}

.titr-table {
    background: #9BC93A;
    color: #fff;
}

.table-content {
    background: #F5F5F5;
}

.color-helper {
    color: #9BC93A;
}

.bg-helper {
    background: #c0ffa4a3;
}


/*-----search box---------*/
/* Styles for wrapping the search box */


/* Bootstrap 4 text input with search icon */

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    left: 11px;
    display: block;
    width: 2.375rem;
    height: 3.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    padding-top: 6px;
    padding-left: 42px !important;
    font-size: 20px;
}

.searchbox {
    border-radius: 38px !important;
    border-color: #5D44C9;
    padding-top: 24px !important;
    padding-bottom: 24px !important;
    box-shadow: 1px 1px 7px #c5bcec;
}

.hj-tab-account {
    width: 74%;
    margin: auto;
    border-bottom: 1px solid #f0eaea;
}

.cart-deposit {
    background: #F6F9F0;
    border-radius: 7px;
    margin-top: 77px;
    box-shadow: 1px 1px 9px #d8d8d8d6;
}

.sum-cart {
    background: #9BC93A;
    color: #fff;
    border-radius: 0 0 7px 7px;
    box-shadow: 1px 1px 9px #d8d8d8d6;
}


/*------loader-----------*/
.loader {
    background: #000;
    background: radial-gradient(#222, #000);
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}

.loader-inner {
    bottom: 0;
    height: 60px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}

.loader-line-wrap {
    animation: spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite;
    box-sizing: border-box;
    height: 50px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform-origin: 50% 100%;
    width: 100px;
}

.loader-line {
    border: 4px solid transparent;
    border-radius: 100%;
    box-sizing: border-box;
    height: 100px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}

.loader-line-wrap:nth-child(1) {
    animation-delay: -50ms;
}

.loader-line-wrap:nth-child(2) {
    animation-delay: -100ms;
}

.loader-line-wrap:nth-child(3) {
    animation-delay: -150ms;
}

.loader-line-wrap:nth-child(4) {
    animation-delay: -200ms;
}

.loader-line-wrap:nth-child(5) {
    animation-delay: -250ms;
}

.loader-line-wrap:nth-child(1) .loader-line {
    border-color: hsl(0, 80%, 60%);
    height: 90px;
    width: 90px;
    top: 7px;
}

.loader-line-wrap:nth-child(2) .loader-line {
    border-color: hsl(60, 80%, 60%);
    height: 76px;
    width: 76px;
    top: 14px;
}

.loader-line-wrap:nth-child(3) .loader-line {
    border-color: hsl(120, 80%, 60%);
    height: 62px;
    width: 62px;
    top: 21px;
}

.loader-line-wrap:nth-child(4) .loader-line {
    border-color: hsl(180, 80%, 60%);
    height: 48px;
    width: 48px;
    top: 28px;
}

.loader-line-wrap:nth-child(5) .loader-line {
    border-color: hsl(240, 80%, 60%);
    height: 34px;
    width: 34px;
    top: 35px;
}

@keyframes spin {
    0%, 15% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}


/*------end loader------*/
.hj-payment {
    background-color: #E4E4E4;
    border-radius: 7px;
    box-shadow: 1px 1px 7px #c7bebe7d;
}

.Hj-Upload {
    border: 2px dotted #5D44C9;
    box-shadow: 1px 1px 7px #908abb;
    border-radius: 7px;
    transition: 0.3s;
}

    .Hj-Upload:hover {
        transform: scale(1.019);
        transition: 0.3s;
    }

.hj-detalisUpload {
    background-color: #F6F1F8;
    border-radius: 10px;
    box-shadow: 1px 1px 7px #aca6af;
}

.text-helper {
    color: #9BC93A;
}

.hj-maharat {
    height: auto !important;
    padding: 0px !important;
    border: 1px solid #dcdfe4;
}

.hj-pen {
    position: absolute;
    left: 27px;
    top: 44px;
}

.hj-shaba {
    position: absolute;
    left: 0px;
    top: 33px;
    width: 71px;
}

.hj-visa {
    position: absolute;
    left: 0px;
    top: 32px;
    width: 77px;
}

.hj-number-amar {
    border: 1px solid #9c939380;
    border-radius: 4px;
    box-shadow: 1px 1px 9px #a2c97c;
}

.sum-amar {
    border: 1px solid #1707b7;
    width: 91% !important;
    box-shadow: 1px 1px 9px #686f7978;
    border-radius: 4px;
}

.amar-daramad {
    border-left: 2px dotted #6c71bf;
}

.hj-Property {
    background: #F6F0F8;
    border-radius: 9px;
    box-shadow: 1px 1px 9px #9c9595;
}

.text-Purple {
    color: #8D24B3;
}

/*--charts---*/
.hj-charts {
    background: #fff;
    box-shadow: 1px 1px 9px #9a8e8e;
    border-radius: 8px;
}

/*-----caht--------*/
#frame {
    width: 100%;
    /*max-width: 1000px;*/
    height: 92vh;
    min-height: 300px;
    max-height: 720px;
    background: #E6EAEA;
}

@media screen and (max-width: 360px) {
    #frame {
        width: 100%;
        height: 100vh;
    }
}

#frame #sidepanel {
    float: left;
    min-width: 280px;
    max-width: 340px;
    width: 40%;
    height: 100%;
    background: #2c3e50;
    color: #f5f5f5;
    overflow: hidden;
    position: relative;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel {
        width: 58px;
        min-width: 58px;
    }
}

#frame #sidepanel #profile {
    width: 80%;
    margin: 25px auto;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #profile {
        width: 100%;
        margin: 0 auto;
        padding: 5px 0 0 0;
        background: #32465a;
    }
}

#frame #sidepanel #profile.expanded .wrap {
    height: 210px;
    line-height: initial;
}

    #frame #sidepanel #profile.expanded .wrap p {
        margin-top: 20px;
    }

    #frame #sidepanel #profile.expanded .wrap i.expand-button {
        -moz-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
    }

#frame #sidepanel #profile .wrap {
    height: 60px;
    line-height: 60px;
    overflow: hidden;
    -moz-transition: 0.3s height ease;
    -o-transition: 0.3s height ease;
    -webkit-transition: 0.3s height ease;
    transition: 0.3s height ease;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap {
        height: 55px;
    }
}

#frame #sidepanel #profile .wrap img {
    width: 50px;
    border-radius: 50%;
    padding: 3px;
    border: 2px solid #e74c3c;
    height: auto;
    float: left;
    cursor: pointer;
    -moz-transition: 0.3s border ease;
    -o-transition: 0.3s border ease;
    -webkit-transition: 0.3s border ease;
    transition: 0.3s border ease;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap img {
        width: 40px;
        margin-left: 4px;
    }
}

#frame #sidepanel #profile .wrap img.online {
    border: 2px solid #2ecc71;
}

#frame #sidepanel #profile .wrap img.away {
    border: 2px solid #f1c40f;
}

#frame #sidepanel #profile .wrap img.busy {
    border: 2px solid #e74c3c;
}

#frame #sidepanel #profile .wrap img.offline {
    border: 2px solid #95a5a6;
}

#frame #sidepanel #profile .wrap p {
    float: left;
    margin-left: 15px;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap p {
        display: none;
    }
}

#frame #sidepanel #profile .wrap i.expand-button {
    float: right;
    margin-top: 23px;
    font-size: 0.8em;
    cursor: pointer;
    color: #435f7a;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap i.expand-button {
        display: none;
    }
}

#frame #sidepanel #profile .wrap #status-options {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 150px;
    margin: 70px 0 0 0;
    border-radius: 6px;
    z-index: 99;
    line-height: initial;
    background: #435f7a;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap #status-options {
        width: 58px;
        margin-top: 57px;
    }
}

#frame #sidepanel #profile .wrap #status-options.active {
    opacity: 1;
    visibility: visible;
    margin: 75px 0 0 0;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap #status-options.active {
        margin-top: 62px;
    }
}

#frame #sidepanel #profile .wrap #status-options:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid #435f7a;
    margin: -8px 0 0 24px;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap #status-options:before {
        margin-left: 23px;
    }
}

#frame #sidepanel #profile .wrap #status-options ul {
    overflow: hidden;
    border-radius: 6px;
}

    #frame #sidepanel #profile .wrap #status-options ul li {
        padding: 15px 0 30px 18px;
        display: block;
        cursor: pointer;
    }

@media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap #status-options ul li {
        padding: 15px 0 35px 22px;
    }
}

#frame #sidepanel #profile .wrap #status-options ul li:hover {
    background: #496886;
}

#frame #sidepanel #profile .wrap #status-options ul li span.status-circle {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px 0 0 0;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap #status-options ul li span.status-circle {
        width: 14px;
        height: 14px;
    }
}

#frame #sidepanel #profile .wrap #status-options ul li span.status-circle:before {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    margin: -3px 0 0 -3px;
    background: transparent;
    border-radius: 50%;
    z-index: 0;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap #status-options ul li span.status-circle:before {
        height: 18px;
        width: 18px;
    }
}

#frame #sidepanel #profile .wrap #status-options ul li p {
    padding-left: 12px;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap #status-options ul li p {
        display: none;
    }
}

#frame #sidepanel #profile .wrap #status-options ul li#status-online span.status-circle {
    background: #2ecc71;
}

#frame #sidepanel #profile .wrap #status-options ul li#status-online.active span.status-circle:before {
    border: 1px solid #2ecc71;
}

#frame #sidepanel #profile .wrap #status-options ul li#status-away span.status-circle {
    background: #f1c40f;
}

#frame #sidepanel #profile .wrap #status-options ul li#status-away.active span.status-circle:before {
    border: 1px solid #f1c40f;
}

#frame #sidepanel #profile .wrap #status-options ul li#status-busy span.status-circle {
    background: #e74c3c;
}

#frame #sidepanel #profile .wrap #status-options ul li#status-busy.active span.status-circle:before {
    border: 1px solid #e74c3c;
}

#frame #sidepanel #profile .wrap #status-options ul li#status-offline span.status-circle {
    background: #95a5a6;
}

#frame #sidepanel #profile .wrap #status-options ul li#status-offline.active span.status-circle:before {
    border: 1px solid #95a5a6;
}

#frame #sidepanel #profile .wrap #expanded {
    padding: 75px 0 0 0;
    display: block;
    line-height: initial !important;
}

    #frame #sidepanel #profile .wrap #expanded label {
        float: left;
        clear: both;
        margin: 0 8px 5px 0;
        padding: 5px 0;
    }

    #frame #sidepanel #profile .wrap #expanded input {
        border: none;
        margin-bottom: 6px;
        background: #32465a;
        border-radius: 3px;
        color: #f5f5f5;
        padding: 7px;
        width: calc(100% - 43px);
    }

        #frame #sidepanel #profile .wrap #expanded input:focus {
            outline: none;
            background: #435f7a;
        }

#frame #sidepanel #search {
    border-top: 1px solid #32465a;
    border-bottom: 1px solid #32465a;
    font-weight: 300;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #search {
        display: none;
    }
}

#frame #sidepanel #search label {
    position: absolute;
    margin: 10px 10px 0 20px;
}

#frame #sidepanel #search input {
    font-family: "proxima-nova", "Source Sans Pro", sans-serif;
    padding: 10px 36px 10px 46px;
    width: calc(100% - 0px);
    border: none;
    background: #32465a;
    color: #f5f5f5;
}

    #frame #sidepanel #search input:focus {
        outline: none;
        background: #435f7a;
    }

    #frame #sidepanel #search input::-webkit-input-placeholder {
        color: #f5f5f5;
    }

    #frame #sidepanel #search input::-moz-placeholder {
        color: #f5f5f5;
    }

    #frame #sidepanel #search input:-ms-input-placeholder {
        color: #f5f5f5;
    }

    #frame #sidepanel #search input:-moz-placeholder {
        color: #f5f5f5;
    }

#frame #sidepanel #contacts {
    height: calc(100% - 177px);
    overflow-y: scroll;
    overflow-x: hidden;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #contacts {
        height: calc(100% - 149px);
        overflow-y: scroll;
        overflow-x: hidden;
    }

        #frame #sidepanel #contacts::-webkit-scrollbar {
            display: none;
        }
}

#frame #sidepanel #contacts.expanded {
    height: calc(100% - 334px);
}

#frame #sidepanel #contacts::-webkit-scrollbar {
    width: 8px;
    background: #2c3e50;
}

#frame #sidepanel #contacts::-webkit-scrollbar-thumb {
    background-color: #243140;
}

#frame #sidepanel #contacts ul li.contact {
    position: relative;
    padding: 10px 0 15px 0;
    font-size: 0.9em;
    cursor: pointer;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #contacts ul li.contact {
        padding: 6px 0 46px 8px;
    }
}

#frame #sidepanel #contacts ul li.contact:hover {
    background: #32465a;
}

#frame #sidepanel #contacts ul li.contact.active {
    background: #32465a;
    border-right: 5px solid #435f7a;
}

    #frame #sidepanel #contacts ul li.contact.active span.contact-status {
        border: 2px solid #32465a !important;
    }

#frame #sidepanel #contacts ul li.contact .wrap {
    width: 88%;
    margin: 0 auto;
    position: relative;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #contacts ul li.contact .wrap {
        width: 100%;
    }
}

#frame #sidepanel #contacts ul li.contact .wrap span {
    position: absolute;
    left: 0;
    margin: -2px 0 0 -2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #2c3e50;
    background: #95a5a6;
}

    #frame #sidepanel #contacts ul li.contact .wrap span.online {
        background: #2ecc71;
    }

    #frame #sidepanel #contacts ul li.contact .wrap span.away {
        background: #f1c40f;
    }

    #frame #sidepanel #contacts ul li.contact .wrap span.busy {
        background: #e74c3c;
    }

#frame #sidepanel #contacts ul li.contact .wrap img {
    width: 40px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #contacts ul li.contact .wrap img {
        margin-right: 0px;
    }
}

#frame #sidepanel #contacts ul li.contact .wrap .meta {
    padding: 5px 0 0 0;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #contacts ul li.contact .wrap .meta {
        display: none;
    }
}

#frame #sidepanel #contacts ul li.contact .wrap .meta .name {
    font-weight: 600;
}

#frame #sidepanel #contacts ul li.contact .wrap .meta .preview {
    margin: 5px 0 0 0;
    padding: 0 0 1px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -moz-transition: 1s all ease;
    -o-transition: 1s all ease;
    -webkit-transition: 1s all ease;
    transition: 1s all ease;
}

    #frame #sidepanel #contacts ul li.contact .wrap .meta .preview span {
        position: initial;
        border-radius: initial;
        background: none;
        border: none;
        padding: 0 2px 0 0;
        margin: 0 0 0 1px;
        opacity: .5;
    }

#frame #sidepanel #bottom-bar {
    position: absolute;
    width: 100%;
    bottom: 0;
}

    #frame #sidepanel #bottom-bar button {
        float: left;
        border: none;
        width: 50%;
        padding: 10px 0;
        background: #32465a;
        color: #f5f5f5;
        cursor: pointer;
        font-size: 0.85em;
        font-family: "proxima-nova", "Source Sans Pro", sans-serif;
    }

@media screen and (max-width: 735px) {
    #frame #sidepanel #bottom-bar button {
        float: none;
        width: 100%;
        padding: 15px 0;
    }
}

#frame #sidepanel #bottom-bar button:focus {
    outline: none;
}

#frame #sidepanel #bottom-bar button:nth-child(1) {
    border-right: 1px solid #2c3e50;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #bottom-bar button:nth-child(1) {
        border-right: none;
        border-bottom: 1px solid #2c3e50;
    }
}

#frame #sidepanel #bottom-bar button:hover {
    background: #435f7a;
}

#frame #sidepanel #bottom-bar button i {
    margin-right: 3px;
    font-size: 1em;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #bottom-bar button i {
        font-size: 1.3em;
    }
}

@media screen and (max-width: 735px) {
    #frame #sidepanel #bottom-bar button span {
        display: none;
    }
}

#frame .content {
    float: right;
    width: 51%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

@media screen and (max-width: 735px) {
    #frame .content {
        width: calc(100% - 58px);
        min-width: 223px !important;
    }
}

@media screen and (min-width: 900px) {
    #frame .content {
        width: calc(100% - 340px);
    }
}

#frame .content .contact-profile {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #f5f5f5;
}

    #frame .content .contact-profile img {
        width: 40px;
        border-radius: 50%;
        float: left;
        margin: 9px 12px 0 9px;
    }

    #frame .content .contact-profile p {
        float: left;
    }

    #frame .content .contact-profile .social-media {
        float: right;
    }

        #frame .content .contact-profile .social-media i {
            margin-left: 14px;
            cursor: pointer;
        }


            #frame .content .contact-profile .social-media i:hover {
                color: #435f7a;
            }

#frame .content .messages {
    height: auto;
    width: 100%;
    min-height: calc(100% - 93px);
    max-height: calc(100% - 93px);
    overflow-y: scroll;
    overflow-x: hidden;
}

@media screen and (max-width: 735px) {
    #frame .content .messages {
        max-height: calc(100% - 105px);
    }
}

#frame .content .messages::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}

#frame .content .messages::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
}

#frame .content .messages ul li {
    display: inline-block;
    clear: both;
    float: left;
    margin: 15px 15px 5px 15px;
    width: calc(100% - 25px);
    font-size: 0.9em;
}

    #frame .content .messages ul li:nth-last-child(1) {
        margin-bottom: 20px;
    }

    #frame .content .messages ul li.sent img {
        margin: 6px 8px 0 0;
    }

    #frame .content .messages ul li.sent p {
        background: #435f7a;
        color: #f5f5f5;
    }

    #frame .content .messages ul li.replies img {
        float: right;
        margin: 6px 0 0 8px;
    }

    #frame .content .messages ul li.replies p {
        background: #f5f5f5;
        float: right;
    }

    #frame .content .messages ul li img {
        width: 22px;
        border-radius: 50%;
        float: left;
    }

    #frame .content .messages ul li p {
        display: inline-block;
        padding: 10px 15px;
        border-radius: 20px;
        max-width: 205px;
        line-height: 130%;
    }

@media screen and (min-width: 735px) {
    #frame .content .messages ul li p {
        max-width: 300px;
    }
}

#frame .content .message-input {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 99;
}

    #frame .content .message-input .wrap {
        position: relative;
    }

        #frame .content .message-input .wrap input {
            font-family: "proxima-nova", "Source Sans Pro", sans-serif;
            float: left;
            border: none;
            width: calc(100% - 90px);
            padding: 11px 32px 10px 8px;
            font-size: 0.8em;
            color: #32465a;
        }

@media screen and (max-width: 735px) {
    #frame .content .message-input .wrap input {
        padding: 15px 32px 16px 8px;
        width: 173px;
    }
}

#frame .content .message-input .wrap input:focus {
    outline: none;
}

#frame .content .message-input .wrap .attachment {
    position: absolute;
    right: 60px;
    z-index: 4;
    margin-top: 10px;
    font-size: 1.1em;
    color: #435f7a;
    opacity: .5;
    cursor: pointer;
}

@media screen and (max-width: 735px) {
    #frame .content .message-input .wrap .attachment {
        margin-top: 17px;
        right: 65px;
    }
}

#frame .content .message-input .wrap .attachment:hover {
    opacity: 1;
}

#frame .content .message-input .wrap button {
    float: right;
    border: none;
    width: 50px;
    padding: 12px 0;
    cursor: pointer;
    background: #32465a;
    color: #f5f5f5;
}

@media screen and (max-width: 735px) {
    #frame .content .message-input .wrap button {
        padding: 16px 0;
    }
}

#frame .content .message-input .wrap button:hover {
    background: #435f7a;
}

#frame .content .message-input .wrap button:focus {
    outline: none;
}

.messages > ul > li {
    border-bottom: 0px solid #9BC93A;
}

#contacts > ul > li {
    border-bottom: 0px solid #9BC93A;
}

/*---end chat----*/
.select2-container {
    width: 100% !important;
    direction: rtl !important;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 7px;
    padding: 13px 10px;
    outline: none;
    box-shadow: 1px 1px 9px #ccc5c5b8;
}

    .select2-container--default .select2-selection--single .select2-selection__arrow b {
        top: 90% !important;
    }

.select2-container .select2-selection--single {
    height: auto !important;
}



.select2-container--default .select2-selection--single .select2-selection__rendered {
    text-align: right
}


.select2-results__option[aria-selected] {
    text-align: right;
}


.hj-height {
    margin-top: 20px;
}

._text-position {
    text-align: right;
}

._flot-postion {
    float: right;
}

._direction {
    direction: rtl;
}


._selectDir > option {
    direction: rtl;
}
/* block ui */
.blockUI.blockMsg.blockPage {
    outline: none !important;
    z-index: unset !important;
    position: fixed !important;
    padding: 0px;
    margin: 0px;
    width: 30%;
    top: 40%;
    left: 35%;
    text-align: center;
    color: unset !important;
    border: unset !important;
    background-color: unset !important;
    cursor: wait;
}




/* vue-selest   */

.vs__dropdown-toggle {
    border: 0 none !important;
}

/*.vs__actions {
    padding:   6px 6px 0 3px !important;*/
/*display:flex;
align-items:center*/
/*}*/






/*custom btn  class*/

._btnActive {
    color: #fff;
    background: #9BC93A;
    border: 0;
    transition: .3s;
}




/*-----------------------input file-----------------------
*/
#largeFile:after {
    position: absolute;
    content: "انتخاب عکس";
    left: 0;
    right: 0;
    margin: auto;
    /* margin: 50px auto; */
    padding: 2px 0px;
    text-align: center;
    /* padding: 24px 0px; */
    border-radius: 10px;
    border: 5px dashed #ccc;
    color: #ccc;
    font-family: "Helvetica Neue", Helvetica, Arial;
    font-size: 30px;
}

#largeFile:hover:after {
    background: #ccc;
    color: #fff;
    cursor: pointer;
}

#largeFile input#file {
    width: 0px;
    height: 0px;
}



.categoryImage {
    height: 79%;
    width: 100%
}



._imageRadius {
    border-radius: 12px;
}



._language {
    color: black;
    display: inline-block;
    font-size: 20px;
    font-weight: 900;
    padding: 5px;
    transition: all 0.5s;
}


    ._language:hover {
        color: #ccc;
    }
