
@{
    ViewData["Title"] = "HttpCode";
    Layout = "~/Views/Shared/_landing.cshtml";
}



<div class="container mx-auto p-0 m-0 mt-5">
    <div class="row w-100 p-0 m-0 mx-auto">
        <div class="col-md-10 col-8 text-right"><h3><b> </b></h3></div>
    </div>

    <div class="row  p-2 m-0  mt-3">
    </div>
    <div>
        <h4 class="text-center mb-0 text-muted font-weight-normal"> @ViewBag.ErrorMessaage</h4>
        <div class="text-center">
        </div>
        <a href="#" class="btn btn-outline-light btn-lg">     </a>
    </div>
</div>





