@model Helper.ViewModels.AccountSettingsVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_landing.cshtml";



}







@section Styles{
    <link href="~/lib/swal-alert/sweetalert.css" rel="stylesheet" />
}






<div class="container">
    <div class="row mt-md-5 pt-md-5">
        <div class="col-md-5 col-12 ml-lg-5 order-md-0 order-1 hj-intro-h">
            <div class="row mx-auto">
                <span class="text-justify size-33">
                    <b>
                        ایجاد خدمت
                    </b>
                </span>
            </div>
            <div class="row w-100 mx-auto pt-3 pt-md-2">
                <img src="/hj/img/border-bottom.png" class="img-fluid">
            </div>
            <div class="row mt-3 mx-auto">
                <span class="text-justify hj-intro-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف</span>
            </div>

        </div>
        <div class="col-md-6 col-12 mr-lg-4 order-md-1 order-0">
            <img src="/hj/img/Group 2665.svg" class="img-fluid" alt="Responsive image">
        </div>

    </div>
</div>


@*--------------------*@


<div class="container mx-auto">
    <!-- Tabs -->
    <section id="tabs">
        <div class="container p-0 m-0">

            <div class="row w-100 mx-auto">
                <div class="col-xs-12 p-0 m-0 ">

                    <nav>

                        <div class="nav nav-tabs nav-fill p-0 m-0 w-100" id="nav-tab" role="tablist">


                            <a class="nav-item nav-link w-25 active" id="nav-Personal-tab" data-toggle="tab" href="#nav-Personal" role="tab" aria-controls="nav-profile" aria-selected="false"> اطلاعات شخصی</a>
                            <a class="nav-item nav-link w-25" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false"> حساب بانکی</a>
                            <a class="nav-item nav-link  w-25" id="nav-password-tab" data-toggle="tab" href="#nav-password" role="tab" aria-controls="nav-password" aria-selected="true"> رمز عبور</a>



                        </div>

                    </nav>
                    <div class="tab-content py-3 px-sm-0 mt-5" id="nav-tabContent">

                        @*---------tab1--------------*@
                        <div class=" tab-pane fade show active" id="nav-Personal" role="tabpanel" aria-labelledby="nav-Personal-tab">
                            <form asp-action="ChangePeronalInfo"  id="chnageInfoSubmit" >


                                <input asp-for="Id" id="infoId" type="hidden" />

                                <div class="row hj-form  mx-auto">

                                    <div class="form-group w-100">
                                        <label asp-for="UserName" class="text-right w-100 pr-3" for="name"> </label>
                                        <input asp-for="UserName" autocomplete="off" class="form-control text-center hj-form-profile w-100 py-3  text-dark" id="name" placeholder="نام کاربری">
                                        <span asp-validation-for="UserName" class="text-center d-block text-danger"></span>

                                    </div>
                                    <div class="form-group w-100">
                                        <label asp-for="Email" class="text-right w-100 pr-3" for="email"></label>
                                        <input asp-for="Email" type="email" autocomplete="off" class="form-control text-center hj-form-profile w-100 py-3 pr-3 text-dark" id="email" placeholder="test.gmail.com">
                                        <span asp-validation-for="Email" class="text-center d-block text-danger"></span>

                                    </div>
                                    <div class="form-group w-100 position-relative">
                                        <label asp-for="Phone" class="text-right w-100 pr-3" for="number-Phone"> </label>
                                        <input asp-for="Phone" autocomplete="off" type="number" class="form-control text-center hj-form-profile w-100 py-3 pr-3 text-dark" id="number-Phone" placeholder=" 00000000_98+">
                                        <img src="~/hj/img/Edit - Alt 2.png" class="img-fluid hj-pen" />
                                        <span asp-validation-for="Phone" class="text-center d-block text-danger"></span>
                                    </div>

                                    <label class="text-right w-100 pr-3 mt-2" for="">زبان وبسایت و اعلامه های رسمی </label>
                                    <div class="row w-100 mx-auto my-2 hj-form-profile hj-maharat ">

                                        <div class="col-md-7 col-8  mx-auto text-left py-2 ">
                                            <h6 class="pt-1 pl-4">فارسی</h6>
                                        </div>
                                        <div class="col-md-5 col-4  mx-auto">
                                            <i class="fas fa-chevron-down pl-3 pt-3" id="select-down"></i>
                                        </div>
                                    </div>
                                    <div class="row w-100 mx-auto hj-select  ">


                                        <div class="col-sm-2 col-12  py-2">
                                            <button type="button" class="btn  w-100 button-Service">مهارت</button>
                                        </div>
                                        <div class="col-sm-2 col-12  py-2">
                                            <button type="button" class="btn  w-100 button-Service">مهارت</button>
                                        </div>
                                    </div>

                                    <div class="row w-100 mx-auto mt-4 pt-4">
                                        <input type="submit" id="changeInfoSubmit" class="btn btn-success w-25 mx-auto Confirmation" value="ذخیره تنطیمات" />
                                    </div>

                                </div>
                            </form>
                        </div>



                        @*-----------tab2------------------*@
                        <div class=" tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <form asp-action="ChangeAccountBank" id="changeBankSubmit">





                                <input asp-for="Id" id="accountId" type="hidden" />

                                <div class="row hj-form  mx-auto">
                                    @if (!string.IsNullOrEmpty(TempData["BankSuccess"] as string))
                                    {
                                        <div class="form-group w-100">

                                            <div class="form-row">
                                                <div class="col-md-12 mb-3">
                                                    <div class="alert  alert-success  text-right alert-dismissible fade show col-md-12" role="alert">
                                                        <strong>  @TempData["BankSuccess"]</strong>
                                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                            <span class="ml-4" aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                    @if (!string.IsNullOrEmpty(TempData["BankError"] as string))
                                    {
                                        <div class="form-group w-100">

                                            <div class="form-row">
                                                <div class="col-md-12 mb-3">
                                                    <div class="alert alert-warning  text-right alert-dismissible fade show col-md-12" role="alert">
                                                        <strong>  @TempData["BankError"] </strong>
                                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                            <span class="ml-4" aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }




                                    <div class="form-group w-100">
                                        <label asp-for="AccountOwner" class="text-right w-100 pr-3" for="Owner-name">  </label>
                                        <input asp-for="AccountOwner" type="text" class="form-control text-center hj-form-profile w-100 py-3  text-dark" id="Owner-name" placeholder="نام صاحب حساب">
                                        <span asp-validation-for="AccountOwner" class="text-center d-block text-danger"></span>
                                    </div>

                                    <div class="form-group w-100">
                                        <label asp-for="BankName" class="text-right w-100 pr-3" for="Bank-name">نام بانک</label>
                                        <input asp-for="BankName" type="text" class="form-control text-center hj-form-profile w-100 py-3 pr-3 text-dark" id="Bank-name" placeholder="نام بانک">
                                        <span asp-validation-for="BankName" class="text-center d-block text-danger"></span>
                                    </div>

                                    <div class="form-group w-100">
                                        <label asp-for="CardNumber" class="text-right w-100 pr-3" for="card-number"> شماره کارت</label>
                                        <input asp-for="CardNumber" type="text" class="form-control text-center hj-form-profile w-100 py-3 pr-3 text-dark" id="card-number" placeholder=" 6123 5419 8165 6498">
                                        <span asp-validation-for="CardNumber" class="text-center d-block text-danger"></span>
                                    </div>

                                    <div class="form-group w-100 position-relative">
                                        <label asp-for="ShabaNumber" class="text-right w-100 pr-3" for="shaba-number"> شماره شبا</label>
                                        <input asp-for="ShabaNumber" type="text" class="form-control text-center hj-form-profile w-100 py-3 pr-3 text-dark" id="shaba-number" placeholder=" 6541 9816 5649 3228">
                                        <img src="~/hj/img/ss.png" class="img-fluid hj-shaba" />
                                        <span asp-validation-for="ShabaNumber" class="text-center d-block text-danger"></span>

                                    </div>
                                    <div class="form-group w-100 position-relative">
                                        <label asp-for="VisaNumber" class="text-right w-100 pr-3" for="visa-number">  شماره ویزا یا مستر کارت</label>
                                        <input asp-for="VisaNumber" type="text" class="form-control text-center hj-form-profile w-100 py-3 pr-3 text-dark" id="visa-number" placeholder=" 6121 5419 8165 6498">
                                        <img src="~/hj/img/visa.png" class="img-fluid hj-visa" />
                                        <span asp-validation-for="VisaNumber" class="text-center d-block text-danger"></span>
                                    </div>

                                    <div class="row w-100 mx-auto mt-4 pt-4">
                                        <input type="submit" id="chnageBankSubmit" class="btn btn-success w-25 mx-auto Confirmation" value="ذخیره تنظیمات" />
                                    </div>

                                </div>
                            </form>


                        </div>
                        @*--------tab3--------*@
                        <div class=" tab-pane fade " id="nav-password" role="tabpanel" aria-labelledby="nav-password-tab">
                            <form asp-action="ChangePassword" id="changePassForm">



                                <input asp-for="Id" id="passId" type="hidden" />
                                <div class="row w-100 mx-auto">




                                    <div class="col-md-8 col-12 mx-auto">
                                    

                                     
                                        <div class="form-group w-100 position-relative">
                                            <label class="text-right w-100 pr-3" for="password1"> رمز عبور فعلی</label>

                                            <input class="form-control text-center hj-form-profile w-100 py-3 pr-3 text-dark password"
                                                   type="password"
                                                   data-val="true"
                                                   data-val-maxlength="حداکثر 20 کاراکتر وارد کنید"
                                                   data-val-maxlength-max="20"
                                                   data-val-minlength="حداقل 6 کاراکتر وارد کنید"
                                                   data-val-minlength-min="6"
                                                   data-val-required="این فیلد الزامیست"
                                                   id="password1"
                                                   maxlength="20"
                                                   name="OldPassword"
                                                   placeholder=" ***************">

                                            <img src="~/hj/img/View - Alt 1.svg" class="img-fluid hj-pen" onclick="showpass1()" />
                                            <span class="text-center d-block text-danger field-validation-valid" data-valmsg-for="OldPassword" data-valmsg-replace="true"></span>
                                        </div>





                                        <div class="form-group w-100 position-relative">
                                            <label class="text-right w-100 pr-3" for="password2">رمز عبور جدید </label>
                                            <input class="form-control text-center hj-form-profile w-100 py-3 pr-3 text-dark password"
                                                   type="password"
                                                   data-val="true"
                                                   data-val-maxlength="حداکثر 20 کاراکتر وارد کنید"
                                                   data-val-maxlength-max="20"
                                                   data-val-minlength="حداقل 6 کاراکتر وارد کنید"
                                                   data-val-minlength-min="6"
                                                   data-val-required="این فیلد الزامیست"
                                                   id="password2"
                                                   maxlength="20"
                                                   name="NewPassword"
                                                   placeholder=" ***************">

                                            <img src="~/hj/img/View - Alt 1.svg" class="img-fluid hj-pen" onclick="showpass2()" />
                                            <span class="text-center d-block text-danger field-validation-valid" data-valmsg-for="NewPassword" data-valmsg-replace="true"></span>
                                        </div>

                                        <div class="form-group w-100 position-relative">
                                            <label class="text-right w-100 pr-3" for="password3"> تکرار رمز عبور جدید</label>
                                            <input class="form-control text-center hj-form-profile w-100 py-3 pr-3 text-dark password"
                                                   type="password"
                                                   data-val="true"
                                                   data-val-equalto="تکرار پسورد صحیح نمیباشد"
                                                   data-val-equalto-other="*.NewPassword"
                                                   data-val-required="این فیلد الزامیست"
                                                   id="password3"
                                                   name="NewPasswordConfirm"
                                                   placeholder=" ***************">
                                            <img src="~/hj/img/View - Alt 1.svg" class="img-fluid hj-pen" onclick="showpass3()" />
                                            <span class="text-center d-block text-danger field-validation-valid" data-valmsg-for="NewPasswordConfirm" data-valmsg-replace="true"></span>
                                        </div>
                                        <div class="row w-100 mx-auto mt-4 pt-4">
                                            <input type="submit" id="chnagePassSubmit" value="ذخیره تنظیمات" class="btn btn-success w-25 mx-auto Confirmation" />
                                        </div>


                                        @*<div class="row w-100 mx-auto mt-4 pt-4">
                                                <button className="btn btn-success w-25 mx-auto Confirmation" type="button" disabled>

                                                </button>
                                            </div>*@

                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ./Tabs -->
</div>





@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/swal-alert/sweetalert.min.js"></script>
    <script src="~/SinaCustom/js/main.js"></script>


    <script>

     

        
        //chnage account settings
        $("#chnageInfoSubmit").submit(function (e) {
            e.preventDefault();
            if (!$(this).valid()) {
                return;
            }
            var username = $("#name").val();
            var email = $("#email").val();
            var phone= $("#number-Phone").val();
            var siteLanguage = 1;
            var Id = $("#infoId").val()

            var data = {
                "UserName": username,
                "Email": email,
                "Phone": phone,
                "SiteLanguage": siteLanguage,

                "Id": Id
            };
            $("#changeInfoSubmit").prop('disabled', true);
            $.ajax({
                method: "POST",
                url: '/AccountSettings/ChangePeronalInfo',
                data: data,
                //contentType: "application/json; charset=utf-8",
                success: function (r) {
                    if (r.status) {
                        $("#changeInfoSubmit").prop('disabled', false);
                        SuccessAlert(r.message)
                    }
                    else {
                        $("#changeInfoSubmit").prop('disabled', false);
                        FailedAlert(r.message);
                    }
                },
                error: function () {
                    $("#changeInfoSubmit").prop('disabled', false);
                    FailedAlert("خطا رخ داده است.");
                }
            });
        })







        //chnage account settings
        $("#changeBankSubmit").submit(function (e) {
            e.preventDefault();
            if (!$(this).valid()) {
                return;
            }
            var ownername = $("#Owner-name").val();
            var banckname = $("#Bank-name").val();
            var cardNumber = $("#card-number").val();
            var shabaNumber = $("#shaba-number").val();
            var visalNumber = $("#visa-number").val();
            var Id = $("#accountId").val()

            var data = {
                "BankName": ownername,
                "AccountOwner": banckname,
                "CardNumber": cardNumber,
                "ShabaNumber": shabaNumber,
                "VisaNumber": visalNumber,

                "Id": Id
            };
            $("#chnageBankSubmit").prop('disabled', true);
            $.ajax({
                method: "POST",
                url: '/AccountSettings/ChangeAccountBank',
                data: data,
                //contentType: "application/json; charset=utf-8",
                success: function (r) {
                    if (r.status) {
                        $("#chnageBankSubmit").prop('disabled', false);
                        SuccessAlert(r.message)
                    }
                    else {
                        $("#chnageBankSubmit").prop('disabled', false);
                        FailedAlert(r.message);
                    }
                },
                error: function () {
                    $("#chnageBankSubmit").prop('disabled', false);
                    FailedAlert("خطا رخ داده است.");
                }
            });
        })






        //change Password
        $("#changePassForm").submit(function (e) {
            e.preventDefault();
            if (!$(this).valid()) {
                return;
            }
            var oldPass = $("#password1").val();
            var newPass = $("#password2").val();
            var newPassConfiem = $("#password3").val();

            var Id = $("#passId").val()
            var data = {
                "OldPassword": oldPass,
                "NewPassword": newPass,
                "NewPasswordConfirm": newPassConfiem,
                "Id": Id
            };
            $("#chnagePassSubmit").prop('disabled', true);
            $.ajax({
                method: "POST",
                url: '/AccountSettings/ChangePassword',
                data: data,
                //contentType: "application/json; charset=utf-8",
                success: function (r) {
                    if (r.status) {
                        $("#chnagePassSubmit").prop('disabled', false);
                        SuccessAlert(r.message)
                    }
                    else {
                        $("#chnagePassSubmit").prop('disabled', false);
                        FailedAlert(r.message);
                    }
                },
                error: function () {
                    $("#chnagePassSubmit").prop('disabled', false);
                    FailedAlert("خطا رخ داده است.");
                }
            });
        })





    </script>
}
