body {
}



._areassss {
    border: 2px solid black;
}

._dataTableImage {
    height: 100px;
    width: 120px;
}


._border {
    border: 2px solid black;
}

._editimageContainer {
    width: 100%;
    max-height: 300px;
}

    ._editimageContainer > img {
        display: block;
        height: 100%;
        width: 100%;
    }


._table-corder-reduse {
    border-radius: 6px
}


._noneBorder {
    border: none !important;
}


._min-height260 {
    min-height: 260px !important;
}


._article {
    height: 320px;
    outline: none;
}
