@model Helper.Areas.Admin.Models.ViewModels.Sttings.SettingsViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}



@section Style{


}



<h1 class="text-center" style="text-shadow: 0.3px 1px #FF0000; "> تنظیمات متون  سایت </h1>

<div class="card">
    <div class="card-body">
        <h6 class="card-title"> فرم تنظیمات</h6>
        <form asp-action="Index" class="needs-validation" novalidate="" enctype="multipart/form-data">


            @if (!ViewData.ModelState.IsValid)
            {
                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <div class="alert alert-success text-center alert-dismissible fade show col-md-12" role="alert">

                            @{ foreach (var modelState in ViewData.ModelState.Values)
                                    foreach (var error in modelState.Errors)
                                    {
                                        <ul>
                                            <li>
                                                @error.ErrorMessage.ToString()
                                            </li>
                                        </ul>
                                    }
                            }
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>

                </div>
            }




            @if (!string.IsNullOrEmpty(ViewBag.Success))
            {
                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <div class="alert alert-success text-center alert-dismissible fade show col-md-12" role="alert">
                            <strong> @ViewBag.Success</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
            }

            <!-- AboutUs -->
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <label asp-for="Aboutus" for="validationCustom03"></label>
                    <textarea asp-for="Aboutus" rows="4" class="form-control" id="AboutUs"
                              placeholder="درباره ما...">
                    </textarea>
                    <span asp-validation-for="Aboutus" class="text-danger"> </span>
                </div>
            </div>

            <!-- EnglishAboutUs -->
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <label asp-for="EnglishAboutus" for="validationCustom03"></label>
                    <textarea asp-for="EnglishAboutus" rows="4" class="form-control" id="EnglishAboutus"
                              placeholder=" EnglishAboutus...">
                    </textarea>
                    <span asp-validation-for="EnglishAboutus" class="text-danger"> </span>
                </div>
            </div>



            <!-- ContactUs -->
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <label asp-for="ContactUs" for="validationCustom03"></label>
                    <textarea asp-for="ContactUs" type="" rows="4" class="form-control" id="ContactUs"
                              placeholder="متن ارتباط با ما...">
                    </textarea>
                    <span asp-validation-for="ContactUs" class="text-danger"> </span>
                </div>
            </div>

            <!-- EnglishContactUs -->
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <label asp-for="EnglishContactUs" for="validationCustom03"></label>
                    <textarea asp-for="EnglishContactUs" type="" rows="4" class="form-control" id="EnglishContactUs"
                              placeholder="متن EnglishContactUs...">
                    </textarea>
                    <span asp-validation-for="EnglishContactUs" class="text-danger"> </span>
                </div>
            </div>


            <!-- SiteRules -->
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <label asp-for="SiteRules" for="validationCustom03"></label>
                    <textarea asp-for="SiteRules" type="" rows="4" class="form-control" id="SiteRules"
                              placeholder="متن قوانین سایت...">
                    </textarea>
                    <span asp-validation-for="SiteRules" class="text-danger"> </span>
                </div>
            </div>

            <!-- EnglishSiteRules -->
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <label asp-for="EnglishSiteRules" for="EnglishSiteRules"></label>
                    <textarea asp-for="EnglishSiteRules" type="" rows="4" class="form-control" id="EnglishSiteRules"
                              placeholder="متن EnglishSiteRules...">
                    </textarea>
                    <span asp-validation-for="EnglishSiteRules" class="text-danger"> </span>
                </div>
            </div>



            <!-- LandingHelperText -->
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <label asp-for="LandingHelperText" for="LandingHelperText"></label>
                    <textarea asp-for="LandingHelperText" type="" rows="4" class="form-control" id="LandingHelperText"
                              placeholder="متن هلپر بستری مناسب...">
                    </textarea>
                    <span asp-validation-for="LandingHelperText" class="text-danger"> </span>
                </div>
            </div>

            <!-- LandingHelperText -->
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <label asp-for="EnglishlandingHelperText" for="EnglishlandingHelperText"></label>
                    <textarea asp-for="EnglishlandingHelperText" type="" rows="4" class="form-control" id="EnglishlandingHelperText"
                              placeholder="متن Helper,a good platform for easy access...">
                    </textarea>
                    <span asp-validation-for="EnglishlandingHelperText" class="text-danger"> </span>
                </div>
            </div>


            <!-- ForUserText -->
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <label asp-for="ForUserText" for="ForUserText"></label>
                    <textarea asp-for="ForUserText" type="" rows="4" class="form-control" id="ForUserText"
                              placeholder="متن  برای کاربران...">
                    </textarea>
                    <span asp-validation-for="ForUserText" class="text-danger"> </span>
                </div>
            </div>

            <!-- ForUserText -->
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <label asp-for="EnglishForUserText" for="EnglishForUserText"></label>
                    <textarea asp-for="EnglishForUserText" type="" rows="4" class="form-control" id="EnglishForUserText"
                              placeholder="متن EnglishForUserText...">
                    </textarea>
                    <span asp-validation-for="EnglishForUserText" class="text-danger"> </span>
                </div>
            </div>




            <!-- ForUserText -->
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <label asp-for="ForProfessionalText" for="ForProfessionalText"></label>
                    <textarea asp-for="ForProfessionalText" type="" rows="4" class="form-control" id="ForProfessionalText"
                              placeholder="متن  برای حرفه ایی ها...">
                    </textarea>
                    <span asp-validation-for="ForProfessionalText" class="text-danger"> </span>
                </div>
            </div>

            <!-- ForUserText -->
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <label asp-for="EnglishForProfessionalText" for="EnglishForProfessionalText"></label>
                    <textarea asp-for="EnglishForProfessionalText" type="" rows="4" class="form-control" id="EnglishForProfessionalText"
                              placeholder="متن EnglishForProfessionalText...">
                    </textarea>
                    <span asp-validation-for="EnglishForProfessionalText" class="text-danger"> </span>
                </div>
            </div>





            <!-- ForUserText -->
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <label asp-for="CreateServiceText" for="CreateServiceText"></label>
                    <textarea asp-for="CreateServiceText" type="" rows="4" class="form-control" id="CreateServiceText"
                              placeholder="متن  برای  ایجاد سرویس...">
                    </textarea>
                    <span asp-validation-for="CreateServiceText" class="text-danger"> </span>
                </div>
            </div>

            <!-- ForUserText -->
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <label asp-for="EnglishCreateServiceText" for="EnglishCreateServiceText"></label>
                    <textarea asp-for="EnglishCreateServiceText" type="" rows="4" class="form-control" id="EnglishCreateServiceText"
                              placeholder="متن CreateServiceText...">
                    </textarea>
                    <span asp-validation-for="EnglishCreateServiceText" class="text-danger"> </span>
                </div>
            </div>



            <button type="submit" class="btn btn-success">ارسال</button>
        </form>
    </div>
</div>




@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/lib/ckeditor/ckeditor.js"></script>
    <script>

        //  اعتبارسنجی فرم
        window.addEventListener('load', function () {

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);



        //فعال سازی ckeditor
        $(function () {
            CKEDITOR.replace('AboutUs');
            CKEDITOR.replace('EnglishAboutus');

            CKEDITOR.replace('ContactUs');
            CKEDITOR.replace('EnglishContactUs');

            CKEDITOR.replace('SiteRules');
            CKEDITOR.replace('EnglishSiteRules');

            CKEDITOR.replace('LandingHelperText');
            CKEDITOR.replace('EnglishlandingHelperText');

            CKEDITOR.replace('ForUserText');
            CKEDITOR.replace('EnglishForUserText');

            CKEDITOR.replace('ForProfessionalText');
            CKEDITOR.replace('EnglishForProfessionalText');

            CKEDITOR.replace('CreateServiceText');
            CKEDITOR.replace('EnglishCreateServiceText');
        });





    </script>

}
