@model Helper.Areas.Admin.Models.ViewModels.Sttings.SettingsViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}



@section Style{


}




<div class="card">
    <div class="card-body">
        <h6 class="card-title"> فرم درباره ما</h6>
        <form asp-action="Index" class="needs-validation" novalidate="" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @if (!string.IsNullOrEmpty(ViewBag.Success))
            {
                <span class="text-success d-block text-center"> @ViewBag.Success   </span>
            }

            <!-- input -->
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <label asp-for="Aboutus" for="validationCustom03"></label>
                    <textarea asp-for="Aboutus" class="form-control" id="AboutUs"
                              placeholder="درباره ما...">
                    </textarea>
                    <span asp-validation-for="Aboutus" class="text-danger"> </span>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <label asp-for="ContactUs" for="validationCustom03"></label>
                    <textarea asp-for="ContactUs" type="" class="form-control" id="ContactUs"
                              placeholder="متن ارتباط با ما...">
                    </textarea>
                    <span asp-validation-for="ContactUs" class="text-danger"> </span>
                </div>
            </div>



            @*<div class="form-row">
                <div class="col-md-12 mb-3">
                 <label> عکس</label>
                    <input  asp-for="Photo" multiple />
                    <textarea asp-for="ContactUs" type="" class="form-control" id="ContactUs"
                              placeholder="متن ارتباط با ما...">
                    </textarea>
                    <span asp-validation-for="ContactUs" class="text-danger"> </span>
                </div>
            </div>*@



            <button type="submit" class="btn btn-primary">ارسال</button>

        </form>

    </div>
</div>
















@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/lib/ckeditor/ckeditor.js"></script>
    <script>

        //  اعتبارسنجی فرم
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);







        //فعال سازی ckeditor
        $(function () {
            CKEDITOR.replace('AboutUs');
            CKEDITOR.replace('ContactUs');

        });

    </script>

}
