@model Helper.Models.Entities.TBL_NewsArticleVideo

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit</h1>

<h4>TBL_NewsArticleVideo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateDate" class="control-label"></label>
                <input asp-for="CreateDate" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LikesCount" class="control-label"></label>
                <input asp-for="LikesCount" class="form-control" />
                <span asp-validation-for="LikesCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommentsCount" class="control-label"></label>
                <input asp-for="CommentsCount" class="form-control" />
                <span asp-validation-for="CommentsCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeenCount" class="control-label"></label>
                <input asp-for="SeenCount" class="form-control" />
                <span asp-validation-for="SeenCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsType" class="control-label"></label>
                <select asp-for="NewsType" class="form-control"></select>
                <span asp-validation-for="NewsType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArticlePhotoAddress" class="control-label"></label>
                <input asp-for="ArticlePhotoAddress" class="form-control" />
                <span asp-validation-for="ArticlePhotoAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VideoAddress" class="control-label"></label>
                <input asp-for="VideoAddress" class="form-control" />
                <span asp-validation-for="VideoAddress" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

