@model Helper.Areas.Admin.Models.ViewModels.User.AdminProfileViewModel

@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var photoAddress = Model.PhotoAddress ?? "/Upload/USer/user.jpg";
}



@section Style{
    <link href="~/lib/dateicker/datepicker.css" rel="stylesheet" />
    <link href="~/SinaCustom/css/StyleSheet.css" rel="stylesheet" />

}



<div class="card">
    <div class="card-body">
        <h3> پروفایل </h3>



        <form asp-action="Profile" class="needs-validation" novalidate="" enctype="multipart/form-data">

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="form-row">
                    <div class="col-md-9 mb-3">
                        <div class="alert alert-success alert-dismissible fade show col-md-8" role="alert">
                            <div asp-validation-summary="ModelOnly" class="text-danger">
                                @*<strong>
                                        @TempData["Success"]
                                    </strong>*@
                            </div>

                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>

                </div>
            }
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@

            <div class="form-row">
                <div class="  col-md-6 mb-3">
                    <img src="@photoAddress"
                         class="d-block _editimageContainer" id="UploadedImage" />
                </div>
            </div>
            @if (!string.IsNullOrEmpty(ViewBag.IsSuccess))
            {
                <span class="text-success d-block text-center"> @ViewBag.IsSuccess   </span>
            }


            @if (!string.IsNullOrEmpty(ViewBag.Error))
            {
                <span class="text-success d-block text-center"> @ViewBag.Error   </span>
            }


            <div class="form-row">
                <div class="col-md-8 mb-3">
                    <img class="d-block " id="UploadedImage" />
                </div>
            </div>


            <input type="hidden" asp-for="Id" />

            <!-- input -->
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label asp-for="Username" for="validationCustom03"></label>
                    <input asp-for="Username" class="form-control" id="validationCustom03s"
                           placeholder=@Html.DisplayNameFor(c=>c.Username)>
                    <span asp-validation-for="Username" class="text-danger"> </span>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label asp-for="Email" for="validationCustom03"></label>
                    <input asp-for="Email" class="form-control" id="validationCustom03"
                           placeholder=@Html.DisplayNameFor(c=>c.Email) />

                    <span asp-validation-for="Email" class="text-danger"> </span>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="validationCustom03">نام مستعار</label>
                    <input asp-for="Nickname" class="form-control" id="validationCustom03"
                           placeholder="نام مستعار" />

                    <span asp-validation-for="Nickname" class="text-danger"> </span>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label asp-for="FirstName" for="validationCustom03"></label>
                    <input asp-for="FirstName" class="form-control" id="validationCustom03"
                           placeholder=@Html.DisplayNameFor(c=>c.FirstName) />

                    <span asp-validation-for="FirstName" class="text-danger"> </span>
                </div>
            </div>


            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label asp-for="LastName" for="validationCustom03"></label>
                    <input asp-for="LastName" class="form-control" id="validationCustom03"
                           placeholder=@Html.DisplayNameFor(c=>c.LastName) />

                    <span asp-validation-for="LastName" class="text-danger"> </span>
                </div>
            </div>


            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label asp-for="Birthdate" for="validationCustom03"></label>
                    <input asp-for="Birthdate" class="form-control" id="Birthdate"
                           placeholder=@Html.DisplayNameFor(c=>c.Birthdate) />

                    <span asp-validation-for="Birthdate" class="text-danger"> </span>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label asp-for="NationalCode" for="validationCustom03"></label>
                    <input asp-for="NationalCode" class="form-control" id="validationCustom03" oninput="this.value=this.value.replace(/(?![0-9])./gmi,'')"
                           placeholder=@Html.DisplayNameFor(c=>c.NationalCode) />

                    <span asp-validation-for="NationalCode" class="text-danger"> </span>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label asp-for="Phone" for="validationCustom03"></label>
                    <input asp-for="Phone" class="form-control" id="validationCustom03" oninput="this.value=this.value.replace(/(?![0-9])./gmi,'')"
                           placeholder=@Html.DisplayNameFor(c=>c.Phone) />

                    <span asp-validation-for="Phone" class="text-danger"> </span>
                </div>
            </div>


            @*<div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label asp-for="Gender" for="validationCustom03"></label>
                        <select asp-for="Gender" class="form-control" asp-items="Html.GetEnumSelectList<Helper.Models.Enums.UserGender>()">
                            <option selected="selected" value="">Please select</option>
                        </select>
                        <span asp-validation-for="Gender" class="text-danger"> </span>
                    </div>
                </div>*@


            <div class="form-row">

                <div class="col-md-6 mb-3">
                    <div class="custom-file">
                        <input asp-for="Photo" class="custom-file-input" onchange="readURL(this);" id="customFile">
                        <label class="form-contro custom-file-label" for="customFile">انتخاب عکس </label>
                    </div>
                    <span asp-validation-for="Photo" class="text-danger"> </span>

                </div>
            </div>


            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label asp-for="Address" for="validationCustom03"></label>
                    <textarea asp-for="Address" class="form-control" id="validationCustom03"
                              placeholder=@Html.DisplayNameFor(c=>c.Address)>
                    </textarea>
                    <span asp-validation-for="Address" class="text-danger"> </span>
                </div>
            </div>

            <button type="submit" class="btn btn-success">ارسال</button>
            <a asp-action="Index" class="btn btn-warning">بازگشت به لیست</a>


        </form>

    </div>
</div>



























@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/dateicker/kamadatepicker.js"></script>

    <script>

        kamaDatepicker('Birthdate');
        $("#Birthdate").keypress(function (event) { event.preventDefault(); });


        //  اعتبارسنجی فرم
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);





        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#UploadedImage')
                        .attr('src', e.target.result)
                        .width("100%")
                        .height(300);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

    </script>

}
