
@{
    ViewData["Title"] = "درباره ما";
    Layout = "~/Views/Shared/_landing.cshtml";
}





<div id="root"></div>



@section  Scripts{ 
    <script src="~/ReactPages/build/HomeAbout.js"></script>
}
 