
@{
    ViewData["Title"] = "  تماس با ما ";
    Layout = "~/Views/Shared/_landing.cshtml";
}

<div id="root"></div>



@section Scripts{
    <script src="~/ReactPages/build/HomeContact.js?123"></script>
}



