@model Helper.Models.Entities.TBL_Setting
@using System.Globalization

@{
    ViewData["Title"] = "ContactUs";
    Layout = "~/Views/Shared/_landing.cshtml";
}




<div class="container mx-auto p-0 m-0 mt-5">
    <div class="row w-100 p-0 m-0 mx-auto">
        <div class="col-md-10 col-8 text-right"><h3><b>   @ViewData["ContactUs"]  </b></h3></div>
    </div>
    <div class="row w-100 mx-auto">
        <img src="/hj/img/borderbig green.png"
             alt="img1"
             class="img-fluid mx-auto" />
    </div>

    <div class="row  p-2 m-0  mt-3">
        @if (CultureInfo.CurrentCulture.Name == PublicHelper.persianCultureName)
        {
            @Html.Raw(Model.Value)
        }
        else
        {
            @Html.Raw(Model.EnglishValue)
        }


    </div>

</div>

