@{
    ViewData["Title"] = "Home Page";
    Layout = "_landing";

}


@DateTime.Now

<div id="root"></div>

@*...............intro..................*@

@*<div class="container">
        <div class="row mt-md-5 pt-md-5">
            <div class="col-md-5 col-12 ml-lg-5 order-md-0 order-1 hj-intro-h">
                <div class="row mx-auto">
                    <span class="text-justify size-33">
                        <b>
                            هلپر ، بستری مناسب برای
                            دسترسی  آسان
                        </b>
                </div>
                <div class="row w-100 mx-auto pt-3 pt-md-2">
                    </span>

                    <img src="~/hj/img/border-bottom.png" class="img-fluid" />
                </div>
                <div class="row mt-3 mx-auto">
                    <span class="text-justify hj-intro-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف</span>
                </div>
                <div class="row mt-5 ">
                    <div class="col-6">
                        <button type="button" class="btn btn-primary w-100 hj-intro-button">همین حالا شروع کن</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-primary w-100 hj-intro-button">مشاهده دسته بندی ها</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12 mr-lg-4 order-md-1 order-0">
                <img src="~/hj/img/intro.svg" class="img-fluid" alt="Responsive image">
            </div>

        </div>
        ...................end intro.....................
    </div>*@


@*...........end header..........*@

@*..............contect...............*@
@*<div class="container-fluid mt-md-5">
        <div class="row hj-content hj-content">
            <div class="container mt-md-5 pt-md-5">
                <div class="row text-center mt-5">
                    <div class="col-md-4  mb-5">
                        <img src="~/hj/img/1.png" class="img-fluid " alt="Responsive image">
                        <h4 class="pt-4">تعداد خدمات دهندگان</h4>
                        <span class="timer" data-to="3556" data-speed="8000"></span>
                    </div>
                    <div class="col-md-4  mb-5">
                        <img src="~/hj/img/2.png" class="img-fluid" alt="Responsive image">
                        <h4 class="pt-4">خدمات انجام شده</h4>
                        <span class="timer" data-to="3556" data-speed="8000"></span>
                    </div>
                    <div class="col-md-4  mb-5">
                        <img src="~/hj/img/3.png" class="img-fluid" alt="Responsive image">
                        <h4 class="pt-4">شهر های تحت پوشش</h4>
                        <span class="timer" data-to="3556" data-speed="8000"></span>
                    </div>
                </div>
                ........................service....................
                <div class="row mt-md-5 pt-md-5">

                    <div class="row w-100 p-0 m-0 pt-md-5 mt-md-5 mx-auto hj-work-header">
                        <div class="col-4 text-left pt-3"><img src="~/hj/img/Rectangle 2886.png" class="img-fluid" /></div>
                        <div class="col-4 text-center pt-3  pt-md-2 pt-lg-0 mx-auto"> <span class="text-center size-33  hj-work"> خدمات </span></div>
                        <div class="col-4 text-right pt-3"><img src="~/hj/img/Rectangle 2886.png" class="img-fluid" /></div>
                    </div>


                </div>
                <div class="row text-center mt-5 ">
                    <div class="col-md-3 col-6 py-3">
                        <img src="~/hj/img/service1.png" class="img-fluid " alt="Responsive image">
                        <br />
                        <br />
                        <span class=" hj-text-service pt-4">ماشین</span>
                    </div>
                    <div class="col-md-3 col-6 py-3">
                        <img src="~/hj/img/service2.png" class="img-fluid " alt="Responsive image">
                        <br />
                        <br />
                        <span class=" hj-text-service pt-4">شارژ و قبض</span>
                    </div>
                    <div class="col-md-3 col-6 py-3">
                        <img src="~/hj/img/service3.png" class="img-fluid " alt="Responsive image">
                        <br />
                        <br />
                        <span class=" hj-text-service pt-4">بلیط</span>
                    </div>
                    <div class="col-md-3 col-6 py-3">
                        <img src="~/hj/img/service4.png" class="img-fluid " alt="Responsive image">
                        <br />
                        <br />
                        <span class=" hj-text-service pt-4"> مسکن</span>
                    </div>
                </div>
                <div class="row text-center  ">
                    <div class="col-md-3 col-6 py-3 pt-5 order-md-0 order-3">
                        <span class=" hj-text-service pt-4">مشاهده همه</span>
                        <div class="load-wrapp ">
                            <div class="load-3 pt-3">

                                <div class="line"></div>
                                <div class="line"></div>
                                <div class="line"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-6  py-3 order-md-1 order-2">
                        <img src="~/hj/img/service7.png" class="img-fluid " alt="Responsive image">
                        <br />
                        <br />
                        <span class=" hj-text-service pt-4">مترجم</span>
                    </div>
                    <div class="col-md-3 col-6  py-3  order-md-2 order-1 ">
                        <img src="~/hj/img/service6.png" class="img-fluid " alt="Responsive image">
                        <br />
                        <br />
                        <span class=" hj-text-service pt-4">خدمات شهروندی</span>
                    </div>
                    <div class="col-md-3 col-6 py-3  order-md-3 order-0">
                        <img src="~/hj/img/service5.png" class="img-fluid " alt="Responsive image">
                        <br />
                        <br />
                        <span class=" hj-text-service pt-4  "> صرافی</span>
                    </div>
                </div>
                <div class="row text-center mt-5">
                    <div class="col-12">
                        <button type="button" class="btn btn-success hj-service-index-button  ">همین حالا شروع کن</button>
                    </div>
                </div>
                ........................End service....................
            </div>

        </div>

        ..........work...........
        <div class="row hj-work-index pt-md-5">
            <div class="container pt-md-5 mt-5">

                <div class="row w-100 p-0 m-0 pt-md-5 mx-auto hj-work-header">
                    <div class="col-md-4 col-3 text-left pt-3"><img src="~/hj/img/Rectangle 2886.png" class="img-fluid" /></div>
                    <div class="col-md-4 col-6 text-center mx-auto mt-md-0 mt-3"> <span class="text-center size-33 hj-work">چطور کار میکنه</span></div>
                    <div class="col-md-4 col-3 text-right pt-3"><img src="~/hj/img/Rectangle 2886.png" class="img-fluid" /></div>
                </div>

                <div class="row mt-5 pl-md-5">
                    <div class="col-md-6 col-12 order-1 order-md-0 mt-md-0 mt-4">

                        <div class="row mx-auto ">
                            <span class="text-justify hj-intro-titr pb-1">
                                برای کاربران
                            </span>
                        </div>
                        <div class="row w-100 pt-md-1 pt-3 mx-auto">
                            <img src="~/hj/img/border-bottom.png" class="img-fluid" />
                        </div>

                        <div class="row pt-3 mx-auto">
                            <span class="text-justify hj-intro-text pl-md-5">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف</span>
                        </div>
                        <div class="row text-right mt-5 ">
                            <div class="col-12 text-md-right text-center">
                                <button type="button" class="btn btn-success hj-service-index-button ">همین حالا شروع کن</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 order-0 order-md-1 mt-md-0 mt-4">
                        <img src="~/hj/img/work index.svg" class="img-fluid " alt="Responsive image">
                    </div>
                </div>
                <div class="row mt-5 pl-md-5">

                    <div class="col-md-6 col-12 ">
                        <img src="~/hj/img/workindex2.svg" class="img-fluid " alt="Responsive image">
                    </div>
                    <div class="col-md-6 col-12  mt-3 pr-md-5">
                        <div class="row  position-relative">
                            <span class="text-justify hj-intro-titr pb-1">
                                برای متخصصین
                            </span>
                        </div>
                        <div class="row w-100 pt-md-1 pt-3 mx-auto">
                            <img src="~/hj/img/border-bottom.png" class="img-fluid" />
                        </div>
                        <div class="row pt-3">
                            <span class="text-justify hj-intro-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف</span>
                        </div>
                        <div class="row text-right mt-5">
                            <div class="col-12 text-md-right text-center">
                                <button type="button" class="btn btn-success hj-service-index-button ">همین حالا شروع کن</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        ..........end work...........
        ...........Why Helper?........
        <div class="row hj-WhyHelper-index ">
            <div class="container pt-5">
                <div class="row w-100 mx-auto">
                    <div class="col-md-8  col-12  mb-5 hj-WhyHelper mx-auto">
                        <span class=" bg-slider px-md-5 px-2">چرا هلپر</span>
                    </div>
                </div>
                <div class="row w-100  mx-auto">
                    <div class="col-12">
                         Swiper
                        <div class="swiper-container swiper-container1">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="~/hj/img/slider1 (1).png" class="img-fluid" alt="Responsive image">
                                    <div class="row w-100 text-justify Text-blue mx-auto">
                                        <div class="col-8 text-center py-2 mx-auto  hj-TilteSliderIndex "><span><b>تایتل</b></span></div>
                                        <div class="col-12 text-cener mx-auto py-2"><span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف</span></div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <img src="~/hj/img/slider1 (3).png" class="img-fluid" alt="Responsive image">
                                    <div class="row w-100 text-justify Text-blue mx-auto">
                                        <div class="col-8 text-center py-2 mx-auto  hj-TilteSliderIndex "><span><b>تایتل</b></span></div>
                                        <div class="col-12 text-cener mx-auto py-2"><span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف</span></div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <img src="~/hj/img/slider1 (1).png" class="img-fluid" alt="Responsive image">
                                    <div class="row w-100 text-justify Text-blue mx-auto">
                                        <div class="col-8 text-center py-2 mx-auto  hj-TilteSliderIndex "><span><b>تایتل</b></span></div>
                                        <div class="col-12 text-cener mx-auto py-2"><span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف</span></div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <img src="~/hj/img/slider1 (3).png" class="img-fluid" alt="Responsive image">
                                    <div class="row w-100 text-justify Text-blue mx-auto">
                                        <div class="col-8 text-center py-2 mx-auto  hj-TilteSliderIndex "><span><b>تایتل</b></span></div>
                                        <div class="col-12 text-cener mx-auto py-2"><span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف</span></div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <img src="~/hj/img/slider1 (1).png" class="img-fluid" alt="Responsive image">
                                    <div class="row w-100 text-justify Text-blue mx-auto">
                                        <div class="col-8 text-center py-2 mx-auto  hj-TilteSliderIndex "><span><b>تایتل</b></span></div>
                                        <div class="col-12 text-cener mx-auto py-2"><span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف</span></div>
                                    </div>
                                </div>


                            </div>
                             Add Pagination
                            <div class="swiper-pagination"></div>
                        </div>

                         Swiper JS
                    </div>
                </div>
            </div>

        </div>

        ...........end Why Helper?........




    </div>*@

@*..............end contect...............*@





@section Scripts{
    @*<script src="~/ReactPages/build/HomeIndex.js?123"></script>*@

    <script src="~/ReactPages/build/HomeIndex.js?123"></script>
}