@model Helper.Models.Entities.TBL_Slide

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}



@section Style{ 
    <link href="~/SinaCustom/css/StyleSheet.css" rel="stylesheet" />
}


<div class="card">
    <div class="card-body">
        <h6 class="card-title">   حذف  اسلاید . آیا مطمئن به حذف هستید؟</h6>
        <form asp-action="Delete" class="needs-validation" novalidate="">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row">
                <div class="  _editimageContainer">
                    <img src="@Model.PhotoAddress" class="d-block " id="UploadedImage" />
                </div>
            </div>
            <input type="hidden" asp-for="Id" />
            <!-- input -->
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label asp-for="Title" for="validationCustom03"></label>
                    <input readonly asp-for="Title" class="form-control" id="validationCustom03"
                           placeholder="عنوان">
                    <span asp-validation-for="Title" class="text-danger"> </span>
                </div>
            </div>


            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label asp-for="Description" for="validationCustom03"></label>
                    <textarea readonly asp-for="Description" type="" class="form-control" id="validationCustom03"
                              placeholder="متن درباره ما">
                    </textarea>
                    <span asp-validation-for="Description" class="text-danger"> </span>
                </div>
            </div>


            <!-- IsActive -->
            <div class="form-group">
                <div class="custom-control custom-checkbox custom-checkbox-secondary">
                    <input asp-for="IsActive" type="checkbox" class="custom-control-input" id="customCheck1" checked>
                    <label asp-for="IsActive" class="custom-control-label" for="customCheck1"> ‌   آیا فعال است؟</label>

                    <span asp-validation-for="IsActive" class="text-danger"> </span>
                </div>
            </div>



            <button type="submit" class="btn btn-danger">حذف</button>
            <button type="submit" asp-action="Index" class="btn btn-success">بازگشت ب لیست</button>
        </form>

    </div>
</div>

