
@{
    ViewData["Title"] = "UserProfile";
    Layout = "~/Views/Shared/_landing.cshtml";
}

<div class="container mt-5">
    <div class="row w-100 mx-auto ">
        <div class="col-md-2 col-12 text-center text-md-right">
            <img src="~/hj/img/img profile.png" class="img-fluid" />
        </div>
        <div class="col-md-7 col-12 text-center mx-auto">
            <div class="row w-100 pt-3 text-center text-md-right  d-block pr-md-2"><h5>نیما کفش آرا</h5></div>
            <div class="row w-100 mx-auto text-center text-md-right  d-block "><h6 class="text-justify hj-detalis-userProfile "> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف </h6></div>
        </div>
        <div class="col-md-3 col-12 mx-auto mt-2">
            <div class="row w-100 mx-auto  "><button type="button" class="btn btn-success w-100 py-3 btn-profileUser">درخواست خدمت</button></div>
            <div class="row w-100 pt-3 mx-auto"><button type="button" class="btn btn-success py-3 w-100 btn-profileUser-send">ارسال پیام</button></div>
        </div>
    </div>
    <div class="row w-100 mx-auto hj-skill mt-5 py-3">
        <div class="row w-100 mx-auto hj-select hj-select-block">
            <div class="col-sm-2 col-12 py-1">
                <button type="button" class="btn  w-100 button-Service">مهارت</button>
            </div>
            <div class="col-sm-2 col-12  py-1">
                <button type="button" class="btn  w-100 button-Service">مهارت</button>
            </div>
            <div class="col-sm-2 col-12  py-1">
                <button type="button" class="btn  w-100 button-Service">مهارت</button>
            </div>
            <div class="col-sm-2 col-12  py-1">
                <button type="button" class="btn  w-100 button-Service">مهارت</button>
            </div>
            <div class="col-sm-2 col-12  py-1">
                <button type="button" class="btn  w-100 button-Service">مهارت</button>
            </div>
            <div class="col-sm-2 col-12  py-1">
                <button type="button" class="btn  w-100 button-Service">مهارت</button>
            </div>
        </div>
        <div class="row w-100 mx-auto hj-select hj-select-block">
            <div class="col-sm-2 col-12 py-1">
                <button type="button" class="btn  w-100 button-Service">مهارت</button>
            </div>
            <div class="col-sm-2 col-12  py-1">
                <button type="button" class="btn  w-100 button-Service">مهارت</button>
            </div>
            <div class="col-sm-2 col-12  py-1">
                <button type="button" class="btn  w-100 button-Service">مهارت</button>
            </div>
            <div class="col-sm-2 col-12  py-1">
                <button type="button" class="btn  w-100 button-Service">مهارت</button>
            </div>
            <div class="col-sm-2 col-12  py-1">
                <button type="button" class="btn  w-100 button-Service">مهارت</button>
            </div>
            <div class="col-sm-2 col-12  py-1">
                <button type="button" class="btn  w-100 button-Service">مهارت</button>
            </div>
        </div>
    </div>
</div>
<div class="contanier w-100">
    <!-- Tabs -->
    <section id="tabs">
        <div class="container p-0 m-0 mx-auto">

            <div class="row w-100 mx-auto">
                <div class="col-xs-12 p-0 m-0 ">

                    <nav>

                        <div class="nav nav-tabs nav-fill p-0 m-0 w-100" id="nav-tab" role="tablist">

                            <a class="nav-item nav-link active w-50" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true"> خدمات</a>
                            <a class="nav-item nav-link w-50" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false"> رزومه</a>

                        </div>

                    </nav>
                    <div class="tab-content py-3 px-sm-0 pt-md-5 mt-md-3" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            @*---------------------------*@
                            <div class="row w-100 mx-auto  ">
                                <div class="col-lg-3 col-sm-6 col-12 py-md-5 my-3 py-lg-0 my-lg-0">
                                    <div class=" hj-profile mx-auto">


                                        <div class="row w-100 mx-auto  py-3">
                                            <div class="col-12 pt-2">
                                                <h3 class="text-center w-100"> رهن و اجار منزل</h3>
                                            </div>
                                            <div class="col-12 pt-2">
                                                <h6 class="text-center w-100 text-justify">  لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است سطرآنچنان که لازم است </h6>
                                            </div>

                                            <div class="col-12 pt-3">
                                                <h4 class="text-center w-100">
                                                    <img src="~/hj/img/home-alt-3.png" class="img-fluid" />
                                                </h4>
                                            </div>
                                            <div class="col-12 pt-4 pb-2 footer-titr">
                                                <h5 class="text-center w-100 hj-work"> املاک </h5>
                                            </div>

                                        </div>

                                        <div class="row w-100 p-0 m-0 hj-option-card text-center pb-4">
                                            <div class="col-4 p-0 m-0"><i onclick="myFunction(this)" class="far fa-heart pl-2"></i><span class="hj-like"><br />350.000</span></div>
                                            <div class="col-4 p-0 m-0"><i class="fa fa-comments  pl-2"></i><span class="hj-like"><br />350.000</span></div>
                                            <div class="col-4 p-0 m-0"><i class="fa fa-eye  pl-2"></i><span class="hj-like"><br />350.000</span></div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6 col-12 py-md-5 my-3 py-lg-0 my-lg-0">
                                    <div class=" hj-profile mx-auto">


                                        <div class="row w-100 mx-auto  py-3">
                                            <div class="col-12 pt-2">
                                                <h3 class="text-center w-100"> رهن و اجار منزل</h3>
                                            </div>
                                            <div class="col-12 pt-2">
                                                <h6 class="text-center w-100 text-justify">  لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است سطرآنچنان که لازم است </h6>
                                            </div>

                                            <div class="col-12 pt-3">
                                                <h4 class="text-center w-100">
                                                    <img src="~/hj/img/home-alt-3.png" class="img-fluid" />
                                                </h4>
                                            </div>
                                            <div class="col-12 pt-4 pb-2 footer-titr">
                                                <h5 class="text-center w-100 hj-work"> املاک </h5>
                                            </div>

                                        </div>

                                        <div class="row w-100 p-0 m-0 hj-option-card text-center pb-4">
                                            <div class="col-4 p-0 m-0"><i onclick="myFunction(this)" class="far fa-heart pl-2"></i><span class="hj-like"><br />350.000</span></div>
                                            <div class="col-4 p-0 m-0"><i class="fa fa-comments  pl-2"></i><span class="hj-like"><br />350.000</span></div>
                                            <div class="col-4 p-0 m-0"><i class="fa fa-eye  pl-2"></i><span class="hj-like"><br />350.000</span></div>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-lg-3 col-sm-6 col-12 py-md-5 my-3 py-lg-0 my-lg-0">
                                    <div class=" hj-profile mx-auto">


                                        <div class="row w-100 mx-auto  py-3">
                                            <div class="col-12 pt-2">
                                                <h3 class="text-center w-100"> رهن و اجار منزل</h3>
                                            </div>
                                            <div class="col-12 pt-2">
                                                <h6 class="text-center w-100 text-justify">  لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است سطرآنچنان که لازم است </h6>
                                            </div>

                                            <div class="col-12 pt-3">
                                                <h4 class="text-center w-100">
                                                    <img src="~/hj/img/home-alt-3.png" class="img-fluid" />
                                                </h4>
                                            </div>
                                            <div class="col-12 pt-4 pb-2 footer-titr">
                                                <h5 class="text-center w-100 hj-work"> املاک </h5>
                                            </div>

                                        </div>

                                        <div class="row w-100 p-0 m-0 hj-option-card text-center pb-4">
                                            <div class="col-4 p-0 m-0"><i onclick="myFunction(this)" class="far fa-heart pl-2"></i><span class="hj-like"><br />350.000</span></div>
                                            <div class="col-4 p-0 m-0"><i class="fa fa-comments  pl-2"></i><span class="hj-like"><br />350.000</span></div>
                                            <div class="col-4 p-0 m-0"><i class="fa fa-eye  pl-2"></i><span class="hj-like"><br />350.000</span></div>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-lg-3 col-sm-6 col-12 py-md-5 my-3 py-lg-0 my-lg-0">
                                    <div class=" hj-profile mx-auto">


                                        <div class="row w-100 mx-auto  py-3">
                                            <div class="col-12 pt-2">
                                                <h3 class="text-center w-100"> رهن و اجار منزل</h3>
                                            </div>
                                            <div class="col-12 pt-2">
                                                <h6 class="text-center w-100 text-justify">  لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است سطرآنچنان که لازم است </h6>
                                            </div>

                                            <div class="col-12 pt-3">
                                                <h4 class="text-center w-100">
                                                    <img src="~/hj/img/home-alt-3.png" class="img-fluid" />
                                                </h4>
                                            </div>
                                            <div class="col-12 pt-4 pb-2 footer-titr">
                                                <h5 class="text-center w-100 hj-work"> املاک </h5>
                                            </div>

                                        </div>

                                        <div class="row w-100 p-0 m-0 hj-option-card text-center pb-4">
                                            <div class="col-4 p-0 m-0"><i onclick="myFunction(this)" class="far fa-heart pl-2"></i><span class="hj-like"><br />350.000</span></div>
                                            <div class="col-4 p-0 m-0"><i class="fa fa-comments  pl-2"></i><span class="hj-like"><br />350.000</span></div>
                                            <div class="col-4 p-0 m-0"><i class="fa fa-eye  pl-2"></i><span class="hj-like"><br />350.000</span></div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div class="row w-100 mx-auto mt-lg-3 pt-lg-3 ">
                                <div class="col-lg-3 col-sm-6 col-12 py-md-5 my-3 py-lg-0 my-lg-0">
                                    <div class=" hj-profile mx-auto">


                                        <div class="row w-100 mx-auto  py-3">
                                            <div class="col-12 pt-2">
                                                <h3 class="text-center w-100"> رهن و اجار منزل</h3>
                                            </div>
                                            <div class="col-12 pt-2">
                                                <h6 class="text-center w-100 text-justify">  لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است سطرآنچنان که لازم است </h6>
                                            </div>

                                            <div class="col-12 pt-3">
                                                <h4 class="text-center w-100">
                                                    <img src="~/hj/img/home-alt-3.png" class="img-fluid" />
                                                </h4>
                                            </div>
                                            <div class="col-12 pt-4 pb-2 footer-titr">
                                                <h5 class="text-center w-100 hj-work"> املاک </h5>
                                            </div>

                                        </div>

                                        <div class="row w-100 p-0 m-0 hj-option-card text-center pb-4">
                                            <div class="col-4 p-0 m-0"><i onclick="myFunction(this)" class="far fa-heart pl-2"></i><span class="hj-like"><br />350.000</span></div>
                                            <div class="col-4 p-0 m-0"><i class="fa fa-comments  pl-2"></i><span class="hj-like"><br />350.000</span></div>
                                            <div class="col-4 p-0 m-0"><i class="fa fa-eye  pl-2"></i><span class="hj-like"><br />350.000</span></div>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-lg-3 col-sm-6 col-12 py-md-5 my-3 py-lg-0 my-lg-0">
                                    <div class=" hj-profile mx-auto">


                                        <div class="row w-100 mx-auto  py-3">
                                            <div class="col-12 pt-2">
                                                <h3 class="text-center w-100"> رهن و اجار منزل</h3>
                                            </div>
                                            <div class="col-12 pt-2">
                                                <h6 class="text-center w-100 text-justify">  لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است سطرآنچنان که لازم است </h6>
                                            </div>

                                            <div class="col-12 pt-3">
                                                <h4 class="text-center w-100">
                                                    <img src="~/hj/img/home-alt-3.png" class="img-fluid" />
                                                </h4>
                                            </div>
                                            <div class="col-12 pt-4 pb-2 footer-titr">
                                                <h5 class="text-center w-100 hj-work"> املاک </h5>
                                            </div>

                                        </div>

                                        <div class="row w-100 p-0 m-0 hj-option-card text-center pb-4">
                                            <div class="col-4 p-0 m-0"><i onclick="myFunction(this)" class="far fa-heart pl-2"></i><span class="hj-like"><br />350.000</span></div>
                                            <div class="col-4 p-0 m-0"><i class="fa fa-comments  pl-2"></i><span class="hj-like"><br />350.000</span></div>
                                            <div class="col-4 p-0 m-0"><i class="fa fa-eye  pl-2"></i><span class="hj-like"><br />350.000</span></div>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-lg-3 col-sm-6 col-12 py-md-5 my-3 py-lg-0 my-lg-0">
                                    <div class=" hj-profile mx-auto">


                                        <div class="row w-100 mx-auto  py-3">
                                            <div class="col-12 pt-2">
                                                <h3 class="text-center w-100"> رهن و اجار منزل</h3>
                                            </div>
                                            <div class="col-12 pt-2">
                                                <h6 class="text-center w-100 text-justify">  لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است سطرآنچنان که لازم است </h6>
                                            </div>

                                            <div class="col-12 pt-3">
                                                <h4 class="text-center w-100">
                                                    <img src="~/hj/img/home-alt-3.png" class="img-fluid" />
                                                </h4>
                                            </div>
                                            <div class="col-12 pt-4 pb-2 footer-titr">
                                                <h5 class="text-center w-100 hj-work"> املاک </h5>
                                            </div>

                                        </div>

                                        <div class="row w-100 p-0 m-0 hj-option-card text-center pb-4">
                                            <div class="col-4 p-0 m-0"><i onclick="myFunction(this)" class="far fa-heart pl-2"></i><span class="hj-like"><br />350.000</span></div>
                                            <div class="col-4 p-0 m-0"><i class="fa fa-comments  pl-2"></i><span class="hj-like"><br />350.000</span></div>
                                            <div class="col-4 p-0 m-0"><i class="fa fa-eye  pl-2"></i><span class="hj-like"><br />350.000</span></div>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-lg-3 col-sm-6 col-12 py-md-5 my-3 py-lg-0 my-lg-0">
                                    <div class=" hj-profile mx-auto">


                                        <div class="row w-100 mx-auto  py-3">
                                            <div class="col-12 pt-2">
                                                <h3 class="text-center w-100"> رهن و اجار منزل</h3>
                                            </div>
                                            <div class="col-12 pt-2">
                                                <h6 class="text-center w-100 text-justify">  لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است سطرآنچنان که لازم است </h6>
                                            </div>

                                            <div class="col-12 pt-3">
                                                <h4 class="text-center w-100">
                                                    <img src="~/hj/img/home-alt-3.png" class="img-fluid" />
                                                </h4>
                                            </div>
                                            <div class="col-12 pt-4 pb-2 footer-titr">
                                                <h5 class="text-center w-100 hj-work"> املاک </h5>
                                            </div>

                                        </div>

                                        <div class="row w-100 p-0 m-0 hj-option-card text-center pb-4">
                                            <div class="col-4 p-0 m-0"><i onclick="myFunction(this)" class="far fa-heart pl-2"></i><span class="hj-like"><br />350.000</span></div>
                                            <div class="col-4 p-0 m-0"><i class="fa fa-comments  pl-2"></i><span class="hj-like"><br />350.000</span></div>
                                            <div class="col-4 p-0 m-0"><i class="fa fa-eye  pl-2"></i><span class="hj-like"><br />350.000</span></div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            @*--------pagination----*@
                            <div class="row w-100 mx-auto">
                                <div class="pagination-wrapper mx-auto">
                                    <div class="pagination">
                                        <a class="prev page-numbers" href="javascript:;">قبلی</a>
                                        <span aria-current="page" class="page-numbers current">1</span>
                                        <a class="page-numbers" href="javascript:;">2</a>
                                        <a class="page-numbers" href="javascript:;">3</a>
                                        <a class="page-numbers" href="javascript:;">4</a>
                                        <a class="page-numbers" href="javascript:;">5</a>

                                        <a class="next page-numbers" href="javascript:;">بعدی</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        -@*------dashbord-----*@
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

                            <div class="row w-100 mx-auto mt-5">
                                <div class="col-12 text-right">
                                    <h3>نیما کفش آرا</h3>
                                </div>
                                <div class="col-12">
                                    <img src="/hj/img/borderbig green.png" class="img-fluid">
                                </div>

                            </div>
                            <div class="row w-100 mx-auto mt-5">
                                <h6 class="text-right pr-3">عنوان و سمت</h6>
                            </div>
                            <hr />
                            <div class="row w-100 pt-3">
                                <h5 class="pr-4">مشاور املاک</h5>
                            </div>
                            <div class="row w-100 text-justify">
                                <h6 class="line-27 pr-4">بیو گرافی از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد،  </h6>
                            </div>
                            <hr />
                            <div class="row w-100 mx-auto mt-5">
                                <h6 class="text-right pr-3"> سوابق کاری </h6>
                            </div>
                            <hr />
                            <div class="row w-100 pt-3">
                                <h5 class="pr-4"> سوابق کاری</h5>
                            </div>
                            <div class="row w-100 text-right pr-3">
                                <div class="col-md-2 col-12"><h6><b>نام شرکت</b></h6></div>
                                <div class="col-md-2  col-3"> <h6>1395/2/4</h6></div>
                                <div class="col-md-2  col-3"><h6>1395/2/4</h6></div>
                                <div class="col-md-2  col-3"><h6>سال 2</h6></div>
                                <div class="col-md-4  col-0"></div>
                            </div>
                            <div class="row w-100 mx-auto text-right">
                                <div class="col-md-2 col-6"><h6><b> سمت</b></h6></div>
                                <div class="col-md-2 col-6"><h6>مدیر</h6></div>
                                <div class="col-md-8 col-0"></div>
                            </div>
                            <div class="row w-100 text-justify">
                                <h6 class="line-27 pr-4">بیو گرافی از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد،  </h6>
                            </div>
                            <hr />
                            <div class="row w-100 mx-auto mt-5">
                                <h6 class="text-right pr-3"> سوابق تحصیلی </h6>
                            </div>
                            <hr />
                            <div class="row w-100 pt-3">
                                <h5 class="pr-4"> سوابق تحصیلی</h5>
                            </div>
                            <div class="row w-100 text-right pr-3">
                                <div class="col-md-2 col-12"><h6><b>مقطع  </b></h6></div>
                                <div class="col-md-2  col-3"> <h6>لیسانس</h6></div>
                                <div class="col-md-2  col-3"><h6>1395/2/4</h6></div>
                                <div class="col-md-2  col-3"><h6>سال 2</h6></div>
                                <div class="col-md-4  col-0"></div>
                            </div>
                            <div class="row w-100 mx-auto text-right">
                                <div class="col-md-2 col-6"><h6><b> تاریخ</b></h6></div>
                                <div class="col-md-2 col-6"><h6>1395/2/4</h6></div>
                                <div class="col-md-8 col-0"></div>
                            </div>
                            <div class="row w-100 mx-auto text-right">
                                <div class="col-md-2 col-6"><h6><b> نام دانشگاه</b></h6></div>
                                <div class="col-md-2 col-6"><h6>آزاد دماوند</h6></div>
                                <div class="col-md-8 col-0"></div>
                            </div>
                            <hr />
                            <div class="row w-100 mx-auto mt-5">
                                <h6 class="text-right pr-3"> تخصص ها </h6>
                            </div>
                            <hr />
                            <div class="row w-100 pt-3">
                                <h5 class="pr-4"> تخصص ها</h5>
                            </div>
                            <div class="row w-50 text-justify mx-auto hj-degree pt-5">
                                <div class="col-md-3 col-6 py-2"> <button type="button" class="btn  w-100 button-Service">مهارت</button></div>
                                <div class="col-md-3 col-6 py-2"> <button type="button" class="btn  w-100 button-Service">مهارت</button></div>
                                <div class="col-md-3 col-6 py-2"> <button type="button" class="btn  w-100 button-Service">مهارت</button></div>
                                <div class="col-md-3 col-6 py-2"> <button type="button" class="btn  w-100 button-Service">مهارت</button></div>
                                <div class="col-md-3 col-6 py-2"> <button type="button" class="btn  w-100 button-Service">مهارت</button></div>
                                <div class="col-md-3 col-6 py-2"> <button type="button" class="btn  w-100 button-Service">مهارت</button></div>
                                <div class="col-md-3 col-6 py-2"> <button type="button" class="btn  w-100 button-Service">مهارت</button></div>
                                <div class="col-md-3 col-6 py-2"> <button type="button" class="btn  w-100 button-Service">مهارت</button></div>
                                <div class="col-md-3 col-6 py-2"> <button type="button" class="btn  w-100 button-Service">مهارت</button></div>
                                <div class="col-md-3 col-6 py-2"> <button type="button" class="btn  w-100 button-Service">مهارت</button></div>
                                <div class="col-md-3 col-6 py-2"> <button type="button" class="btn  w-100 button-Service">مهارت</button></div>
                                <div class="col-md-3 col-6 py-2"> <button type="button" class="btn  w-100 button-Service">مهارت</button></div>

                            </div>
                            <hr />
                            <div class="row w-100 mx-auto mt-5">
                                <h6 class="text-right pr-3">  سایر اطلاعات </h6>
                            </div>
                            <hr />
                            <div class="row w-100 pt-3">
                                <h5 class="pr-4"> سایر اطلاعات </h5>
                            </div>

                            <div class="row w-100 mx-auto text-right">
                                <div class="col-md-2 col-6"><h6><b> تاریخ</b></h6></div>
                                <div class="col-md-2 col-6"><h6>1395/2/4</h6></div>
                                <div class="col-md-8 col-0"></div>
                            </div>
                            <div class="row w-100 mx-auto text-right">
                                <div class="col-md-2 col-6"><h6><b> جنسیت</b></h6></div>
                                <div class="col-md-2 col-6"><h6>مرد</h6></div>
                                <div class="col-md-8 col-0"></div>
                            </div>
                            <div class="row w-100 mx-auto text-right">
                                <div class="col-md-2 col-6"><h6><b> وضعیت تاهل </b></h6></div>
                                <div class="col-md-2 col-6"><h6>مجرد </h6></div>
                                <div class="col-md-8 col-0"></div>
                            </div>
                            <div class="row w-100 mx-auto text-right">
                                <h6><b>:زبان های مسلط</b></h6>
                            </div>
                            <div class="row w-50 mx-auto  text-right float-right ">
                                <div class="col-md-3 col-12 py-2"> <button type="button" class="btn  w-100 button-Service">انگلیسی</button></div>
                                <div class="col-md-3 col-12 py-2"> <button type="button" class="btn  w-100 button-Service">ترکی</button></div>
                                <div class="col-md-3 col-12 py-2"> <button type="button" class="btn  w-100 button-Service">فرانسه</button></div>

                            </div>
                            <hr />


                        </div>

                    </div>

                </div>
            </div>

        </div>
    </section>
    <!-- ./Tabs -->

</div>