@model Helper.ViewModels.LoginViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "ورود";
}
@section scripts{
    <script>
        function RefreshCaptcha() {
            var d = new Date();
            $("#imgcpatcha").attr("src", "/Captcha/Get?" + d.getTime());
        }
        $('form').submit(function (e) {
            $('#form_alert').addClass('hidden');
            $('#form_alert').removeClass('alert-danger');
            $('#form_alert').removeClass('alert-success');
            e.preventDefault();
            var form = $(this);
            var url = form.attr('action');
            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(),
                success: function (data) {
                    if (data.status == 0) {
                        $('#form_alert').addClass('alert-danger');
                        $('#form_alert').removeClass('hidden');
                        $('#form_alert p').html(data.error);
                    }
                    else if (data.status == 1) {
                        $('#form_alert').addClass('alert-success');
                        $('#form_alert').removeClass('hidden');
                        $('#form_alert p').html("خوش آمدید");
                        setTimeout(function () {
                            window.location.replace(data.returnUrl);
                        }, 500);
                    }
                    else {
                        setTimeout(function () {
                            window.location.reload();
                        }, 500);
                    }
                }
            });
        });
    </script>
}


<div class="col-lg-6 d-lg-block d-none text-center align-self-center px-1 py-0">
    <img src="/app-assets/images/pages/login.png" alt="branding logo">
</div>
<div class="col-lg-6 col-12 p-0 font-regular">
    <div class="card rounded-0 mb-0 p-2">
        <div class="card-header pb-1">
            <div class="card-title">
                <h4 class="mb-0">ورود</h4>
            </div>
        </div>
        <div class="card-content">
            <div class="card-body py-2">
                <form role="form" asp-action="signin" method="post">
                    <input type="hidden" class="hidden hide" asp-for="ReturnUrl" />
                    <fieldset class="form-label-group form-group position-relative has-icon-left">
                        <input type="text" asp-for="Username" class="form-control" id="user-name" placeholder="Username" required>
                        <div class="form-control-position">
                            <i class="feather icon-user"></i>
                        </div>
                        <label for="user-name">نام کاربری</label>
                    </fieldset>

                    <fieldset class="form-label-group position-relative has-icon-left">
                        <input type="password" asp-for="Password" class="form-control" id="user-password" placeholder="Password" required>
                        <div class="form-control-position">
                            <i class="feather icon-lock"></i>
                        </div>
                        <label for="user-password">کلمه عبور</label>
                    </fieldset>

                    <fieldset class="form-label-group position-relative has-icon-left">
                        <img alt="Captcha" class="float-right mx-1" onclick="RefreshCaptcha()" id="imgcpatcha" src="@Url.Action("Get","Captcha")" style="" />
                        <div class="form-control-position" onclick="RefreshCaptcha()">
                            <i class="fa fa-refresh"></i>
                        </div>
                    </fieldset>

                    <fieldset class="form-label-group position-relative has-icon-left">
                        @*<input type="text" asp-for="Captcha" class="form-control" id="user-captcha" placeholder="پاسخ متن درون تصویر" required>*@
                        <div class="form-control-position">
                            <i class="feather icon-help-circle"></i>
                        </div>
                        <label for="user-captcha">پاسخ متن درون تصویر</label>
                    </fieldset>

                    <div class="form-group d-flex justify-content-between align-items-center">
                        <div class="text-left">
                            <fieldset class="checkbox">
                                <div class="vs-checkbox-con vs-checkbox-primary">
                                    <input type="checkbox">
                                    <span class="vs-checkbox">
                                        <span class="vs-checkbox--check">
                                            <i class="vs-icon feather icon-check"></i>
                                        </span>
                                    </span>
                                    <span class="">مرابخاطربسپار</span>
                                </div>
                            </fieldset>
                        </div>
                        <div class="text-right"><a asp-action="forgotpassword" class="card-link">کلمه عبور را فراموش کرده اید ؟</a></div>
                    </div>
                    <a asp-action="register" class="btn btn-outline-primary float-left btn-inline">ثبت نام</a>
                    <button type="submit" class="btn btn-primary float-right btn-inline">ورود</button>
                </form>
            </div>
        </div>
    </div>
</div>