@model Helper.Models.Entities.TBL_MonyUnit

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



@section Style{
    <link href="~/SinaCustom/css/StyleSheet.css" rel="stylesheet" />
}

<div class="card">
    <div class="card-body">
        <h6 class="card-title">   حذف   واحد پول . آیا مطمئن به حذف هستید؟</h6>
        <form asp-action="Delete" class="needs-validation" novalidate="">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Id" />
            <!-- input -->
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label asp-for="Name" for="validationCustom03"></label>
                    <input readonly asp-for="Name" class="form-control" id="validationCustom03"
                           placeholder="نام واحد پول">
                    <span asp-validation-for="Name" class="text-danger"> </span>
                </div>
            </div>


            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label asp-for="Name" for="validationCustom03"></label>
                    <input readonly asp-for="Name" class="form-control" id="validationCustom03"
                           placeholder="نام واحد پول">
                    <span asp-validation-for="Name" class="text-danger"> </span>
                </div>
            </div>

            <button type="submit" class="btn btn-danger">حذف</button>
            <button type="submit" asp-action="Index" class="btn btn-success">بازگشت ب لیست</button>
        </form>

    </div>
</div>

